[2019-08-27 22:49] andreeis opened #2 "Since there is no enforcement of unique settings section names, I'm wondering if this should be called `makefile.` or `makefiletools.` instead of `make.` I don't see any other extensions in the marketplace right now so there shouldn't be any conflicts, but you never know..."
Isn't it too long? Also, I thought it would be a short clear correspondent of the CMake commands, which don't have the word tools in them. I was thinking "Make." is short but also clear. I have no problem renaming to "Makefile." though

Since there is no enforcement of unique settings section names, I'm wondering if this should be called `makefile.` or `makefiletools.` instead of `make.`  I don't

[2019-08-28 02:22] #2 closed, assigned to nobody

[2020-06-26 20:44] bobbrow opened #3 "Extension activation rules"
1. Activate if Makefile is found in the root folder
2. Activate if any `makefile.*` command is invoked

[2020-06-26 20:45] bobbrow opened #4 "Implement cpptools-api"
I believe this is already complete, but adding a task to ensure that we're done with this.

Functionality is dependent on dry run succeeding.

[2020-06-27 00:02] bobbrow opened #5 "Activate on presence of Makefile anywhere in the folder"
Similar to CMake Tools. The extension should activate if the Makefile is found anywhere in the workspace. The user should be prompted to locate the Makefile if the appropriate setting is not set. The extension will be partially activated until the setting is set.

[2020-06-27 00:12] bobbrow opened #6 "Implement build configuration features"
- [x] Add a `makefile.configurations` setting in `package.json` which documents all the available sub-properties.
  - name: string
  - makePath?: string - path to make, use `makefile.makePath` if not specified
  - makeArgs?: string[] - args to pass to make
  - makefilePath?: string - path to makefile, use `makefile.makefilePath` if not specified
- [x] Add a way to manage/select the active configur

[2020-06-27 00:14] bobbrow opened #7 "Add support for problem matchers"
Add a property to `makefile.configurations` objects for problem matcher support. (e.g. $gcc, $msbuild)

[2020-06-27 00:16] bobbrow opened #8 "Add support for target filters"
If we can't do this automatically, we should add a property to the `makefile.configurations` object for this so that users can focus on the targets that matter to them.

[2020-06-27 00:18] bobbrow opened #9 "Add settings"
[code]

Also this item covers the work to move some settings into state: current build configuration, current target, current launch configuration.

[2020-06-27 00:21] bobbrow opened #10 "Add commands"
- [x] makefile.configure
- [x] makefile.setBuildConfiguration
- [x] makefile.buildAll
- [x] makefile.buildTarget
- [x] makefile.setBuildTarget
- [x] makefile.rebuildAll
- [x] makefile.rebuildTarget
- [x] makefile.debug
- [x] makefile.launch
- [x] makefile.setLaunchTarget

[2020-06-27 00:24] bobbrow opened #11 "Implement support to build targets"
- [x] Users can build all targets described by the Makefile
- [x] Users can build 'clean' (if the target exists)
- [x] Users can build a specific target
- [x] Support pre-configure scripts for building
- [x] Selecting a target allows for filtering as you type (I think we get this for free from VS Code)
- [x] Users can rebuild all (== clean + all)
- [x] Users can rebuild a specific target (== clean

[2020-06-27 00:28] bobbrow opened #12 "Implement run/debug features"
- [x] Users can debug a target
- [x] Users can launch a target
- [x] Users can pass arguments to a target for debug/launch

[2020-06-29 22:53] bobbrow opened #13 "Provide a mechanism to cancel long running tasks"
- [x] identify long running tasks
- [x] notify the user if the task they requested is blocked by an already running task
- [x] provide a way to cancel long running tasks

[2020-06-29 23:53] bobbrow opened #14 "Add status bar icons or tool window to manage configurations"
Many customers prefer having a UI of some sort to interact with. We need to investigate what type of UI would be best for our users.  The UI would connect to existing commands/data.

[2020-06-29 23:57] bobbrow opened #15 "Add context menu commands"
- [ ] show configure/build options in the context menu when right clicking on a Makefile in the file explorer
- [ ] show configure/build options in the context menu when right clicking in the active editor

[2020-06-29 23:59] bobbrow opened #16 "Implement a "targets" view"
Similar to CMake Tools, create an outline of the targets and how the source files relate to them. This view could have additional features like: shortcuts to build a target, compile a specific file, debug/launch a target.

[2020-06-30 00:03] bobbrow opened #17 "Telemetry"
- [ ] configure
  - [ ] success/failure
  - [ ] first try success?
  - [ ] elapsed time
  - [ ] # of targets
  - [ ] cpptools integration prompt accepted? (needs to go into cpptools)
  - [ ] active configuration changed
- [ ] build
  - [ ] success/failure
  - [ ] build all vs build target
  - [ ] build target changed
  - [ ] clean
- [ ] debug
  - [ ] session started (success/failure)
  - [ ] debug

[2020-07-02 16:28] andreeis opened #19 "Messages audit"
- [ ] Verbosity levels:
      - [x] We need at least one more verbosity level, 'Debug' (or 'test') which contains logging that is a bit exaggerate in verbosity for the usual user. This would be used by tests comparing against a baseline. The users will benefit of this too when opening issues and sending this mostly detailed log to us.
      - [x] Also, implement a comparison operator for these lev

[2020-07-06 17:59] bobbrow opened #20 "Add localization support"

[2020-07-10 15:49] andreeis opened #21 "Tweaks for debugger guessing logic"
Read miMode and miDebuggerPath from settings first and if provided bypass the guessing logic.
Tweak the guess logic in sync with latest CMake Tools.

[2020-07-18 09:37] andreeis opened #23 "Settings input validation"
Validate for types and structure (missing or unknown) for all properties of the objects defined in settings.

[2020-07-23 09:32] andreeis opened #24 "Sync/async audit"
Sync helpers in util need async counterparts.
Also, callers of the sync versions need to be evaluated whether it's best for them to be sync or async.

[2020-07-23 10:31] andreeis opened #25 "Implement variables and expansion mechanism"
Implement variables and expansion mechanism to make the settings more configure-able.
Example: buildLog to be defined as build_${configuration}_${target}.log
or dryrunCache_${command:makefile.buildConfiguration}_${command:makefile.buildTarget}.log if we implement the commands.

[2020-07-23 10:34] andreeis opened #26 "Build log and dryrun cache"
Some things to think through, about build log, dryrun cache and what they mean together in the Makefile Tools ecosystem.

Build log
- for now it is thought as a file path provided by the user, who has the responsibility to point to a valid and useful build log produced outside the extension
- I can see the value of having a build log saved automatically by the extension, when it has no failures
-

[2020-07-23 10:46] andreeis opened #27 "Make the build target quickPick editable"
If the current makefile configuration fails to a degree that is not able to produce even the targets (this means IntelliSense is gone also) and if that configuration would be actually able to succeed if one particular target would be passed to make (and the user knows it), currently with an empty quick pick the user can't exit from a failure state in the extension (unless defining a new makefile c

[2020-07-23 10:50] andreeis opened #28 "Implement kits"
To be able to make the extension work also in a neutral environment, implement kits same as CMake Tools does.

[2020-07-23 11:20] andreeis opened #29 "Rewrite functions processing build and launch targets"
Reading from the build log or the dryrun cache can be done once, at configure time, parse all that's needed on a parallel thread, ahead of time and have the items available for quick picks when requested (instead of parsing when quick pick is invoked).

The functions for build targets versus launch targets started with having different dry-run switches in mind but now since they are able to share

[2020-07-23 13:15] andreeis opened #30 "Activation story when Makefile and CMake are present"
Favor CMake and keep Makefile partially activated.

[2020-07-23 16:53] andreeis opened #31 "Review all the globals"
Review all the globals and their access.
Use getters/setters when working with them in their own file (they are already used when other files access them).
Evaluate whether some need more encapsulation.

[2020-07-23 19:11] andreeis opened #32 "CppTools integration is broken"
IntelliSense stopped working without any change into the Makefile Tools repo but after a few months break.
Suspecting something out of date. Tuning versions in package.json.
Also, very important, update the CppTools from 2.1.2 to 4.0.1 (2 new small APIs to implement).
Additionally, bring IntelliSense modes and C/CPP Standards up to date with the newest values and deduction logic, in sync with CppT

[2020-07-29 07:31] #32 closed, assigned to nobody

[2020-09-04 20:38] sean-mcmanus opened #43 "Only show "..." in progress messages at the very end of the message and add ) to match ("
See the screenshot:
![image](https://user-images.githubusercontent.com/19859882/92283005-bd420a80-eeb3-11ea-9812-ed6a878c91db.png)

It should be something like

Configuring: Parsing for launch targets (inspecting for link commands)...

in which "..." don't occur in the middle of the message, and the ( has a matching ).

[2020-09-04 21:03] sean-mcmanus opened #44 "Show the Makefile output window when important information is being written there"
The CMake Tools extension shows the CMake output window. Otherwise, the user has to manually switch to the Makefile output window to see important error or logging information.

[2020-09-04 21:17] sean-mcmanus opened #45 "Forced include -include aren't being processed"
I did this repro on Linux Ubuntu 20 via WSL2, but it probably repros on other OS's if you can install all the necessary build tools.

 'git clone https://github.com/raspberrypi/linux' and checkout branch rpi-4.19.y.

Get the Makefile: Build the target ALL to work. You may need to install a bunch of dependencies (the build errors will usually hint at what needs to be installed). You'll also need to

[2020-09-04 21:31] sean-mcmanus opened #46 "Definitions with strings like -DKBUILD_BASENAME='"alarmtimer"' are not handled correctly"
See https://github.com/microsoft/vscode-makefile-tools/issues/45 for the repro setup.

With that repro, the KBUILD_BASENAME is reported as being `KBUILD_BASENAME=` instead of something like `KBUILD_BASENAME="alarmtimer"`

[2020-09-04 21:46] sean-mcmanus opened #47 "Hitting "Cannot read property 'trimLeft' of undefined" at mainThreadExtensionService.ts:65"
A few seconds after startup. Repro project is as described at https://github.com/microsoft/vscode-makefile-tools/issues/45 .

mainThreadExtensionService.ts:65 [[object Object]]Cannot read property 'trimLeft' of undefined
$onExtensionRuntimeError @ host.ts:10
_doInvokeHandler @ rpcProtocol.ts:372
_invokeHandler @ rpcProtocol.ts:372
_receiveRequest @ rpcProtocol.ts:253
_receiveOneMessage @ rpcProtoc

[2020-09-14 16:12] bobbrow opened #50 "Configurations should be cached so we don't have to wait for configuration to complete in a new session"
Clean configure = replace the internal IntelliSense configurations
(non-clean) configure = replace the changed IntelliSense configurations (leave unchanged ones alone)

Configure on open does a "clean" dryrun, but we can use existing configurations while we wait for that to complete.

[2020-09-15 16:22] bobbrow opened #51 "Don't save the targets log to disk"
When generating the targets list, we are saving the log to disk.  This log is huge and we should have this data available already anyway once you finish the caching work.

[2020-09-15 16:24] bobbrow opened #52 "Split out telemetry for configuration passes"
The exit codes for configuration are being merged into a single value which doesn't help us understand whether the process is succeeding or failing.  We need to either send separate messages for each sub-step, or send the data for the sub-steps as individual properties in the configure event.

[2020-09-15 16:29] bobbrow opened #53 "Add a setting for log locations and update the default value"
We should change the default location for logs that we persist to disk and allow users to override the default value.  We should probably default to the "storagePath" VS Code provides when extensions are activated.

`vscode.ExtensionContext.storagePath`:

![image](https://user-images.githubusercontent.com/12818240/93238055-c5147100-f735-11ea-8929-064e42c8c387.png)

[2020-09-30 15:34] #52 closed, assigned to nobody

[2020-09-30 15:35] #53 closed, assigned to nobody

[2020-09-30 15:35] #51 closed, assigned to nobody

[2020-09-30 15:35] #50 closed, assigned to nobody

[2020-09-30 15:35] #44 closed, assigned to nobody

[2020-09-30 15:35] #43 closed, assigned to nobody

[2020-09-30 15:35] #45 closed, assigned to nobody

[2020-09-30 15:35] #46 closed, assigned to nobody

[2020-09-30 15:35] #14 closed, assigned to andreeis

[2020-09-30 15:35] #17 closed, assigned to andreeis

[2020-09-30 15:35] #13 closed, assigned to andreeis

[2020-09-30 15:35] #4 closed, assigned to andreeis

[2020-09-30 15:35] #12 closed, assigned to andreeis

[2020-09-30 15:35] #3 closed, assigned to andreeis

[2020-09-30 15:35] #6 closed, assigned to andreeis

[2020-09-30 15:35] #11 closed, assigned to andreeis

[2020-09-30 15:35] #9 closed, assigned to andreeis

[2020-09-30 15:35] #10 closed, assigned to andreeis

[2020-09-30 15:35] #21 closed, assigned to andreeis

[2020-09-30 15:35] #29 closed, assigned to nobody

[2020-09-30 15:41] bobbrow opened #57 "Write up a document about configuration and projects that we know work."

[2020-10-02 17:42] rvanlaar opened #58 "As a C developer I want to run ./configure with options first so that make only build what is needed"
Thanks for the invitation to this repository.

I do most of my C coding for scummvm: https://github.com/scummvm/scummvm/.
In my case I want to run `./configure --disable-all-engines --enable-engine=director` to only have scummvm build the
part of the program I develop on.  This makes the binary smaller by 111 MB that is a 90% size reduction.

I would be great if quick options are available for thi

[2020-10-23 12:48] EricHripko opened #59 "Implicit system include directories not included in browsePath"
# Overview
My project uses [Red Hat's DTS](https://developers.redhat.com/products/developertoolset/overview) in order to build. This means that some include directories are implicit:
[code]
Judging by [this StackOverflow](https://stackoverflow.com/questions/4980819/what-are-the-gcc-default-include-directories), it appears to be a common thing with GCC.

Due to the above, my `Makefile` does not exp

[2020-10-23 15:53] EricHripko opened #60 "Makefiles generate a lot of targets that users typically don't invoke directly"
# Overview
My project uses a `Makefile` that specifies a lot of system/library headers as target dependencies (see sample output from `targets.log`):
[code]
This leads to the extension creating a huge number of targets - making it difficult to find the targets that users are expected to use.

# Expected Behaviour
Ideally, I'd like to only see a small subset of targets that are commonly used, for e

[2020-10-23 16:30] EricHripko opened #61 "Launch configuration + launch.json integration"
# Overview
My binary requires some CLI arguments in order to start. Typically, for other languages and for CMake C/C++ projects, I'd put my arguments into `launch.json`.

# Expected Behaviour
Ideally, I could make use of `launch.json` in a very similar fashion to CMake extension:
[code]

# Actual Behaviour
Launch/debug targets appear to be configured separately via `makefile.launchConfigurations`.

[2020-10-23 16:38] #61 closed, assigned to nobody

[2020-11-09 14:20] #60 closed, assigned to nobody

[2020-11-09 15:13] #47 closed, assigned to nobody

[2020-11-09 15:27] andreeis opened #62 "Make configuring from cache truly async"
Configuring from cache is in general fast but for large projects it's still not instantaneous and when verbose logging is enabled is can last a while. Make this functionality truly async as well.

[2020-11-09 15:31] andreeis opened #63 "Detect triplet name cross compilers"
Example: arm-linux-gnueabihf-gcc

"But, I do think that if you encounter a string that matches the pattern \S*-gcc or \S*-ld, I think it is relatively safe to assume that that string refers to a compiler or linker, respectively. If you want to be even more sure, you could check the output of my-special-compiler-gcc --version and see determine if it is a compiler that way. Just an idea."

[2020-11-09 15:38] andreeis opened #64 "Add non-intrusive warning for source files without found configuration, but don't warn for dependencies of such file."
Here is some additional feedback: in large projects like this, it is common for not all source files to be compiled. With this extension, if a source file is not compiled, then there is no configuration for it, so IntelliSense will likely give all sorts of #include errors. It would be nice if there was a way to provide a non-intrusive warning to the user when they open a file for which there is no

[2020-11-10 17:34] bobbrow opened #65 "Add new icons for extension page and custom panel"

[2020-11-10 17:35] bobbrow opened #66 "Component Governance"
We need to set up a CG pipeline for this repo.  Please talk with Sean about what is required.

[2020-11-10 17:37] bobbrow opened #67 "Third Party Notices"
We need to get the 3rd party notices generated and added to the repo.  Please talk with Sean about it as he set it up for cpptools.

[2020-11-12 14:21] andreeis opened #68 "More advanced "phony" analysis for targets"
For preview 1, we are fixing https://github.com/microsoft/vscode-makefile-tools/issues/8 by adding a new setting (list only phony targets defaulting to false) and by printing only the targets that were manually marked ".PHONY" by the developer.
In future it would be nice to include in that fix a more advanced analysis of how phony is a target that was not defined so by the user. Like evaluate if t

[2020-11-18 03:32] nschmeller opened #71 "Difficulties configuring extension"
I downloaded the .vsix file from the latest release and installed with the "Install from VSIX" command. I got the prompt saying "Makefile Tools would like to configure IntelliSense for this folder.", and I clicked on Allow. I double checked that Makefile Tools was active by running the "C/C++: Change Configuration Provider" command, it had (active) at the right.

When I open a C file, I get a red

[2020-11-18 16:36] #63 closed, assigned to nobody

[2020-11-18 16:36] #8 closed, assigned to andreeis

[2020-11-19 21:31] microsoft-github-operations[bot] opened #73 "ACTION REQUIRED: Microsoft needs this repository to complete compliance info"
There are open compliance tasks that need to be reviewed for your vscode-makefile-tools repo.

  ## Action required: 1 compliance task

  To bring this repository to the standard required for 2021, **we require Microsoft administrators of this GitHub repository to complete a small set of tasks within the next 60 days.** This is critical work to ensure the compliance and security of your GitHub rep

[2020-11-20 17:57] andreeis commented on #71
We released Makefile Tools 0.1.2. Try it out and let us know if you encounter any problems.

I finally saw the incompatible language modes squiggle while testing a different repo and in that case it happened for a c/c++ file that was not part of the last make build so the extension did not parse any compilation command for that source. Probably the C/C++ extension defaulted to some language mode w

[2020-11-20 17:57] #71 closed

[2020-11-25 19:21] andreeis commented on #60
@EricHripko, we released Makefile Tools 0.1.2 which contains the .PHONY targets filter that you suggested.
https://github.com/microsoft/vscode-makefile-tools/releases/tag/v0.1.2.
Let us know how 0.1.2 works for you. Thank you very much for dogfooding this pre-release.

[2020-11-27 13:52] EricHripko commented on #60
This has worked brilliantly! `"makefile.phonyOnlyTargets": true` reduced _1350_ targets to just _3_ high-level ones 🎉 Thank you for actioning the feedback and investing into this extension 🙂

[2020-11-27 14:09] EricHripko commented on #59
Thanks for all the extra information 👍 I've dug into this deeper and found 2 (somewhat related) causes for this:
- I have several Makefiles that live in their own subdirectories of the project (one for the local library, one for the service, one for tests etc.)
- Makefiles expect to be called from within the subdirectory, not the project root
- I've hacked this to work by including `-C exmpllogic/

[2020-11-29 19:14] submatrix commented on #57
Just wanted to chime in and say that @andreeis step #2 in the comment above worked for me. I was simply looking for a way to pass an argument to make ("-j8" in my case), but I couldn't figure out the proper syntax for the makefile.configurations in the settings.json file after reading the readme. Using the sample code provided I was able to set the configuration to "MyConfig". the Build target to

[2020-12-01 17:23] #73 closed

[2020-12-02 01:17] andreeis commented on #59
I didn't focus much on the -C scenario, there are some bugs there that we'll be fixing. Share me your exact configurations snippet from settings and the log related to that in the output channel (is there '...' part of the deduced command?)

Also, try to wrap all your makefiles under one makefile the root to have all available at once.

[2020-12-03 21:28] #65 closed

[2020-12-03 21:28] #67 closed

[2020-12-03 21:29] #66 closed

[2020-12-30 14:20] EricHripko commented on #59
Sorry for the delay in getting back to your @andreeis. The configuration is below:
[code]
Here and in the snippet earlier, `...` represents a bunch of make variables in the form of `VARNAME=VALUE`. These are necessary for my `Makefile` to function correctly. I am afraid I cannot share the exact list of these variables since they refer to proprietary IP.

I would love to do that, but, unfortunately

[2021-01-01 17:47] masteranza opened #80 "Running make -f from the directory in which the makefile resides"
What is the proper way to make "make -f" run from the directory set in makefile.makefilepath ?
I need this because my makefile includes other makefiles from the same directory.
I'm currently using a hack, that is I modify the makefile.makepath to "cd dir; make"...

[2021-01-11 10:43] andreeis commented on #80
Yes, -C in makeArgs is one way to do this.
I was experimenting at some point with the extension adding -C automatically for makefilePath but I found some repos broken with this approach so I'm still brainstorming about that. Use -C in makeArgs for now.

[2021-01-11 11:02] andreeis commented on #59
I'll play more with the -C and -f scenarios to reproduce the error on save that you mentioned, but before that, regarding wrapping your makefiles into one in the root folder, let me know if this helps:
    ${MAKE} VARNAME=value -C exmpllogic1 -f libexmpllogic1.mk
    ${MAKE} VARNAME=value -C exmpllogic2 -f libexmpllogic2.mk
    ....

Understanding your scenario, I'm brainstorming how to support th

[2021-01-11 11:17] andreeis commented on #59
If the wrapping above won't work, there's still something better than always switching configurations. In your usual terminal, build all those folders and save all the build outputs in one file in the root folder, let's say fullBuild.log and set makefile.buildLog to that. The extension will not invoke make anymore and will parse everything that's needed from that file.

[2021-01-15 07:29] andreeis opened #81 "Handle ` in the relevant command lines that are parsed"
Run in process anything in between ``, providing the result output in the command line that is invoking various commands via the backquote.
Examples:
cc ...compiler flags... `test -f 'sourceFile.c' || echo './'`sourceFile.c
g++ ...compiler flags... `pkg-config --cflags glfw3` -c -o imgui.o ../../imgui.cpp

[2021-01-18 07:20] KrestenHelstrup opened #84 "Defines are not detected"
Hi guys
I'm under the impression that this extension should find defines from the makefile, but I can't get it working - however, everything else seems to be working.
Do I need to configure anything to get "-Dxxx" from cflags? Are there any way to see what is currently extracted from the makefile?
Thanks in advance

[2021-01-18 10:08] KrestenHelstrup commented on #80
Might be a stupid questions - But I have exactly the same problem and I don't know where I find this "makeArgs", could you help a bit.
Thanks

[2021-01-19 16:59] andreeis commented on #84
Sure, we'll figure out how to have all the defines (and includes and other things tied to compiler flags) seen by the extension.
You don't need makePath if make is in the path of the environment you open VSCode from.
You don't need makefilePath if the makefile is in the root folder of your project.

Set makefile.loggingLevel to debug, and makefile.extensionLog to ".vscode/extension.log", reload th

[2021-01-19 17:09] andreeis commented on #80
Of course. Here's an example. After saving settings.json, you can go to the Makefile Tools UI side panel (left, bottom), click on the 'edit pen' on the line with "Configuration" and select "MyConfiguration". This will automatically trigger a configure (unless you set makefile.configureOnCommand to false) or if it doesn't run the configure command from the pallette.

If you defined makefile.makefil

[2021-01-21 08:31] KrestenHelstrup commented on #80
@andreeis Works perfect - Thank you.

[2021-01-21 08:36] KrestenHelstrup commented on #84
I have attached the files requested plus my settings.json. I observe two issues, defines from the Makefile is not detected and IntelliSense can't find includes from GCC.

[dryrun.log](https://github.com/microsoft/vscode-makefile-tools/files/5847894/dryrun.log)
[extension.log](https://github.com/microsoft/vscode-makefile-tools/files/5847893/extension.log)
[settings.json.txt](https://github.com/micr

[2021-01-21 09:23] andreeis opened #85 "Set one makefile configuration as default"
Following up on the suggestion of https://github.com/microsoft/vscode-makefile-tools/issues/80.
It could be useful to add a field in makefile.configurations to make one configuration as default, to be picked whenever the project state doesn't seem to have recorded another selection previously.

[2021-01-21 09:36] KrestenHelstrup commented on #85
@andreeis That is correctly understood.
If I want to open the project on another computer I would like to avoid the step of selecting configuration.

[2021-01-21 10:20] andreeis commented on #84
I see the problem and we'll fix it before our next release. Our compiler path parser is confused by the different slashes and inner quotes: 'C:\ARMTC\ARMGCC'/bin/arm-none-eabi-gcc.

As a workaround until you get the fix, can you convince your make to produce a text log without the unnecessary ' characters and with consistent forward or backward slashes? Or a text log without any path associated to

[2021-01-21 11:09] KrestenHelstrup commented on #84
Thank you for the fast feedback.
Does it make any difference if I will stick to '/' or '\' ?
I will try to update the makefile to omit the ' characters.
I'm not using MinGW - Just a windows installation with arm-gcc toolchain and vscode installed.
At the moment I don't have the software on any public repository but if your first suggestions doesn't solve my issue I could make a repository.

[2021-01-21 11:43] KrestenHelstrup commented on #84
Hi again
I think omitting the ' characters solved the initial issue - Now I see my defines in the configurationCache.log:
"configuration":{"defines":["EFM32G890F128","STARTUP_MODE=(SystemModes_t)NORMAL_MODE","DEBUG"]
However, it seems like the IntelliSense still doesn't detect those defines - #ifdef STARTUP_MODE resolves to false.
Do I need additional steps to get the IntelliSense running ?

Lastl

[2021-01-21 12:56] andreeis commented on #84
Oh, let's see what output channel or makefile.extensionLog show about those defines, can you attach again extension.log like you did before? It should work already, I can't think of any extra step.

You don't need to add system includes, they should be automatically detected from compiler path information. Time to attach more files :). The output channel for C/Cpp and the output channel for C/Cpp

[2021-01-22 13:22] EricHripko commented on #59
I've updated the configuration to be like this (removing `makefilePath` and using `-f`) and it seems to work perfectly:
[code]

[2021-01-22 13:22] EricHripko commented on #59
Thank you for helping me out with this - really appreciate it 🙂 Will close this as resolved!

[2021-01-22 13:22] #59 closed

[2021-01-25 10:20] KrestenHelstrup commented on #84
I managed to get it working after running "Reset the makefile tools extension".
Thank you very much for your help. I will try to setup a repo for embedded C development on Windows - Will let you know when it's ready.

[2021-01-25 10:25] KrestenHelstrup opened #87 "Feature: Use makefile output in configurations"
I don't know if this is possible at all but it would be very handy to use output from the makefile in my configurations. I'm trying to setup launch and debug configurations and as far as I can see I have type in the name of my .bin and .out files but in principle they are already known by analyzing the makefile.
Let me know what you think

[2021-01-25 11:15] KrestenHelstrup opened #88 "Additional settings"
I have a few suggestions for new settings. Maybe some of these already exist but I haven't found them yet.
At least I would very much like to have all of them.
1) A force build setting to ensure that the build is up to date before running launch/debug command.
2) A name setting on the launch configurations so it easier to switch between different configurations.
3) Point the debug from makefile ex

[2021-01-25 14:33] andreeis commented on #87
This should work already. What do you see when you click on the edit pen near "launch configurations" in the Makefile Tools left side panel?

To just write the theory of it:
- the extension looks at the output of a live dryrun (or the user provided text log) and when it identifies a linker command, searches for -o switch and grabs the file name
- if the -o is missing, it deduces the file name acco

[2021-01-25 14:46] KrestenHelstrup commented on #87
At the moment it looks like this when I press the edit pen:
![launchTargets](https://user-images.githubusercontent.com/74759135/105720294-90a29400-5f23-11eb-8917-c25b770076f8.PNG)
And my launch config looks like this - Here you see the VsCodeTestSoftware.bin that I would like to get rid of.
![LaunchConfig](https://user-images.githubusercontent.com/74759135/105720309-939d8480-5f23-11eb-946a-3b2b265

[2021-01-25 15:06] andreeis commented on #88
Thank you for the ideas, keep them coming :).

1. Will do
2. Will do. We don't have a short name setting yet but there is a long name composed by [CWD]>[BINARY]([ARG1],[ARG2],[ARG3[,...) which you can select with the command makefile.setLaunchConfiguration via the pallette or the button in the left side panel. When the name is too long to fit, you can mouse over and see it in the tooltip.
3. This

[2021-01-25 15:14] KrestenHelstrup commented on #88
As you can see from the picture below the long name becomes a bit fucked.
![launchTargets](https://user-images.githubusercontent.com/74759135/105724636-58ea1b00-5f28-11eb-9b91-a627ee81707e.PNG)

[2021-01-25 15:19] andreeis commented on #87
We are working on documentation. You should see auto-completion for settings in settings.json. For variables in launch.json it doesn't work yet, right.

We will think how to better support the embedded scenarios for debugging. I didn't play with that yet. Your collaboration would help much with this.
In the meantime, you can simply edit the makefile.launchConfigurations section as you need. Let me

[2021-01-25 15:24] andreeis commented on #88
That path is interesting. You have the latest Makefile Tools 0.1.3, right? We fixed some bugs that looked like that.
You are not setting makefile.ignoreDirectoryCommands to false in settings, right?
I'd like to see the dryrun output and the .vscode/extension.log to see if there's anything else we missed.

[2021-01-25 15:27] KrestenHelstrup commented on #87
Maybe I just don't get it - But should I be able to replace the "armgcc/exe/VsCodeTestSoftware.bin" with any of those variables ?
At least that is not working and when I try to launch I get the following output:
"..\..\..\..\..\..\ARMTC\Simplicity Commander\Commander.exe" flash ${command:Makefile.launchTargetArgsConcat} --device efm32g890f128 --force
So it looks like BinaryArgs does not try to tra

[2021-01-25 15:34] KrestenHelstrup commented on #88
Yes - I'm using 0.1.3.
No, I don't set makefile.ignoreDirectoryCommands - I have added my full settings.json for reference.
[dryrun.log](https://github.com/microsoft/vscode-makefile-tools/files/5867604/dryrun.log)
[extension.log](https://github.com/microsoft/vscode-makefile-tools/files/5867605/extension.log)
[settings.json.log](https://github.com/microsoft/vscode-makefile-tools/files/5867610/setti

[2021-01-25 18:50] andreeis commented on #88
Oh, the same happens for the CMake Tools extension, the launch.json is not yet consumed by the Makefile Tools extension. The Makefile debug feature creates a new simple launch.json on the fly and targets the users that would like to skip the step of authoring a launch.json file.

Launch.json is read only if you debug via "F5" (or the Debugger debug command, not the Makefile debug command). Launch.

[2021-01-25 18:59] andreeis commented on #87
I forgot to mention, we didn't implement yet the variable expansion in settings.json. Use real paths (absolute or relative to the workspace root - no the .vscode subfolder -).

I need more details about the DEVICE define. Share please the fragment of dryrun.log that shows how -DDEVICE is used. Or better share he whole dryrun.log. The one you shared in issue 88 was having only compilation/linking c

[2021-01-26 06:51] KrestenHelstrup commented on #88
Okay - Thanks for the info.

[2021-01-26 07:01] KrestenHelstrup commented on #87
Sorry - I have a mistake in the makefile. I have attached a new dryrun.
I don't know what you mean about sharing only a part of it? I have shared the entire file.
[dryrun.log](https://github.com/microsoft/vscode-makefile-tools/files/5871694/dryrun.log)

I will try to put the project on GitHub in the weekend - I see know that it will be much easier to show what I want to achieve.
The basic idea is

[2021-01-26 09:10] andreeis commented on #87
Entire file is best, some users may opt to share fragments due to IP issues (although you were willing to put on GitHub so I didn't need to mention).

To get run working you can still use launch.json instead of settings.json. Run the command "Debug: Start without debugging" which will read launch.json (same as F5 does for debugging). If you have CMake Tools activated on your project, run that comm

[2021-01-26 09:18] andreeis commented on #87
I am not sure what I suggested last would even work. VSCode will try to debug the wrapper commander.exe. I have no idea if you'll ever hit breakpoints in the sources of VsCodeTestSoftware_1-0.bin.
Did you try that already (even if you write all manually in 3 places)?

[2021-01-26 09:32] KrestenHelstrup commented on #87
I will try what you posted.

I don't have the cmake extension since I use make - Would I benefit from it ?

From your post it sounds like you might be mixing running and debugging. I have launch.json to run a debug session and makefile.launchconfiguration in settings.json to program and run the software without debugging. I have attached both files to you can see the difference. For both of the ca

[2021-01-26 10:25] andreeis commented on #87
No need for CMake extension. I only wanted to make sure that by using Ctrl+F5 you won't get "CMake: Debug" instead of "Debug: Start without debugging".

I admit I don't understand completely the complexity of the embedded debugging/running. Maybe I over simplified. So in the end you need both .bin and .out, but the extension will be able to automatically detect as a binary target only one, whateve

[2021-01-26 10:36] andreeis commented on #87
We can also support a new command launchTargetPathBase or something (that would return only the file name) so that you don't do the trick with removing the extension. But until then, you can do what I suggested in the last paragraph of my above reply.

[2021-01-26 10:46] KrestenHelstrup commented on #87
The launch.json is utilizing an extension called cortex-debug - and yes it is working perfectly fine.
See: [extension.log](https://github.com/microsoft/vscode-makefile-tools/files/5872848/extension.log)

I cant seem to get the ${command:Makefile.xxx} variables working - see picture below:
![CommandIssues](https://user-images.githubusercontent.com/74759135/105834579-f6962680-5fca-11eb-8281-1ad40346

[2021-01-26 10:55] andreeis commented on #87
My bad, lower case M.
Yes, we'll do ... lets' say ... launchTargetFilenameBase and you'll also use launchTargetDirectory before that, so that we don't include the directory in this new command, to let it be only the file name.

As type of the run I think the same, I know it's confusing to have a debug wording for launch, but from what I saw, the regular Debug extension at least, is able to run 2 d

[2021-01-26 13:30] KrestenHelstrup commented on #87
The commands work now with the lower case m.

What is the expected timeframe, if at all possible to say, regarding addition of variable expansion in settings.json ?

Now I'm just thinking out loud, but would it be possible to add something like ${command:makefile.makefileDefines[xxx]} with an array of all defines detected by your extension - So I could do ${command:makefile.makefileDefines[DEVICE]

[2021-01-26 13:31] #84 closed

[2021-01-26 13:44] KrestenHelstrup opened #89 "Make not detected in path"
If I remove the following from settings.json:
"makefile.makePath": "C:/ARMTC/ARMGCC/bin/make.exe",
I keep getting this error from the extension:
![MakeIssue](https://user-images.githubusercontent.com/74759135/105852408-bc398300-5fe4-11eb-8d8f-d19d0ebdffa7.PNG)
But make is in path for sure, the project even builds without the line.

Running VSCode on windows.

[2021-01-26 16:14] andreeis commented on #87
Variables expansion: not sure but at least a few months from now.
Interesting ideas, let us think about them.
If anything feels more complicated than it should be let us know. We may not fix it for the next release which we hope to finalize soon (we're wrapping up) but for sure we will consider in the next release. We will also release a blog post and some documentation in the repository.
Are you

[2021-01-27 08:10] fj-sanchez opened #90 "Support for multi root workspaces"
It would be great if this extension could support multi root workspaces.

https://github.com/microsoft/vscode/wiki/Adopting-Multi-Root-Workspace-APIs

[2021-01-27 08:52] andreeis commented on #90
Absolutely :). I was about to open a GitHub report exactly with this. We'll keep this one.

We are wrapping up our next release which will not include this support and I'm not sure exactly when we will be able to address the work item, but until then, even if it's not the same, you could try wrapping all the entry point makefiles of all your different workspaces into a top level makefile, like thi

[2021-01-29 09:24] KrestenHelstrup commented on #89
When is 1.0.0 expected to be released ?

[2021-01-29 09:55] KrestenHelstrup commented on #87
Yes, I use the side panel - But it seems like VSCode encourages users to do as much as possible with the keyboard only.
Also coming from eclipse I'm used to build with ctrl+b.

Having an easy way to do this is especially important when debugging via F5 does not force a rebuild.

[2021-02-03 12:58] andreeis commented on #87
Implementing "save before build" and "build before debug" now, for release 0.1.4.
Will fork later new GitHub reports from the suggestions found throughout this thread.
And you can define any keyboard shortcuts you want for the commands in the pallette.

[2021-02-03 13:02] andreeis commented on #88
Triaging to 0.1.4 for bullet 1 (setting for build before debug/run). Will create later new reports from the rest of the suggestions.

[2021-02-03 13:13] KrestenHelstrup commented on #87
Thanks for the updates :)
Any expected date for 0.1.4 ?

[2021-02-03 13:22] andreeis commented on #87
If all is well we're thinking middle next week. You shouldn't need to wait for it though. You can apply the latest vsix built before the last PR got merged in. Use "Install from VSIX" feature of VSCode.
https://github.com/microsoft/vscode-makefile-tools/actions/runs/533974103#artifacts

Once the new settings are in place, I'll run the "Build VSIX" action again.

[2021-02-05 10:09] andreeis commented on #88
You can install the VSIX built from the last merged PR here: https://github.com/microsoft/vscode-makefile-tools/actions/runs/537903962#artifacts. We hope your experience with Makefile Tools extension will be much improved. Let us know if you find any other issues. We might be able to address them before our next week release.

[2021-02-08 11:45] andreeis opened #92 "Handle source files copies/renames"
Some repositories have their makefiles set up so that they rename C/C++ sources (or copies them around) at various times during the build. If such operations are done before the compilation command, the extension will not be able to find a configuration for CppTools (it will exist associated to a different temporary URL, not where the development needs to take place).
Many of these operations can

[2021-02-08 12:05] andreeis opened #93 "Bypass the build targets generation"
The extension is identifying all the makefile (build) targets by invoking "make -pRrq" and parsing the output. This is in general very quick even for large projects.

It may happen that this would take long, like for https://github.com/curl/curl.git, which makes the configure step painfully long without any workaround to speed it up. Even if makefile.buildLog points somewhere and no make is invoke

[2021-02-08 12:19] andreeis opened #94 "Exclude objects and libraries from launch targets"
When parsing a link command, sometimes is not obvious if the output is a binary, versus an object or a library. The extension is tracking some special linker switches and file extensions but this is not enough, so we include sometimes more launch targets than what can really be debugged or launched via this extension.
The only solution that ensures only the binaries are listed (regardless of any n

[2021-02-08 12:27] andreeis opened #95 "Support other make syntax than GNU (nmake, bsd)"
Needed for repositories like:
https://github.com/freebsd/freebsd.git
https://www.openbsd.org/
https://www.netbsd.org/

[2021-02-08 12:49] andreeis opened #96 "Wrong C/C++ standard set"
Example: github.com/jemalloc/jemalloc.git, src/jemalloc.c
The standard is not consistent between 2 subsequent configure steps, without no other changes in between. Once is gnu11, then it's c11 (which is correct and remains the same until the next reload).
This happens if the CppTools doesn't finish initializing before we query the first time for its version and the standard deduction logic depends

[2021-02-08 13:02] andreeis opened #97 "Wrong makefile build target found"
https://github.com/libav/libav.git
+=: is found as a makefile build target. Fix the build targets parser.

[2021-02-08 14:17] andreeis opened #98 "Identify when --always-make never ends"
Most of the repositories, if they have an issue with --always-make it's just that a dry-run would take a very long time and the code base would get reconfigured (probably losing any previous settings that were defined during the last ./configure).
Fewer repositories would have the issue of waiting for input from the user. We detect this with a timeout check and the user sees a bottom right message

[2021-02-08 14:25] andreeis opened #99 "Support for dolt output"
Support the output coming from a make build that also uses dolt.
Repositories that need this:
https://github.com/videolan/vlc.git
https://github.com/mono/mono.git

[2021-02-09 07:57] KrestenHelstrup commented on #87
I tried it today. I don't think the "build before debug" works as intended. At least if I press f5 it only triggers a save but not a new build.
Easiest way to reproduce/test seems to be deleting the executable needed by debug, press f5, see error about missing file.

Pressing launch or debug from the makefile-tools panel does trigger a rebuild, but for embedded programming I need another extension

[2021-02-09 23:30] andreeis commented on #87
Thank you for trying the latest vsix. I forgot about hooking up "build before debug" with the F5 scenario. Of course. Fixing that now and will have a new vsix to try soon.
We plan to revisit at some point how all these debug/run scenarios fit together. The same design applies to CMake Tools extension as well and there is some history involved in why things are so now.

[2021-02-10 20:29] andreeis opened #101 "Implement support for VSCode tasks"
The most urgent reason for tasks support is the ability to build before debug/run when launch.json is used.
Implementing this will make the commands makefile.launchTargetPath and makefile.launchTargetFileName not useful anymore and we will be able to remove them.

[2021-02-10 23:14] rapgenic opened #104 "Feature request: possibility to generate compile_commands.json"
The [compile_commands.json](https://clang.llvm.org/docs/JSONCompilationDatabase.html) file is quite useful for many tools in the C/C++ ecosystem, and given that the extension already collects all the required information it should be easy to write down that file on configuration completed.

This would also allow to get rid of other software like bear or compiledb, that are used to generate such fi

[2021-02-11 04:22] andreeis commented on #87
Here's a new vsix that you can try: https://github.com/microsoft/vscode-makefile-tools/actions/runs/556765072.
We renamed the launch variables: launchTargetPath --> getLaunchTargetPath. And all others have a get prefix now. These variables work as before and they don't trigger a build.
We added 2 new launch commands launchTargetPath and launchTargetFileName (the names that were before) which also

[2021-02-11 04:31] andreeis opened #105 "Make the "configure from cache" operation async."
Configuring from cache is the last configure sub-phase that was not changed to async implementation. It is usually fast but what takes time for large code bases is the logging part (when makefile.loggingLevel is higher than "Normal"). It is worth to change to async mode. For large projects, the non async-ness is notice-able during the configure from cache sub-phase.

[2021-02-11 04:55] andreeis opened #106 "Guard all regexp runs with timeouts"
We never know what the extension is going to parse, the build logs or dryrun outputs can be so varied based on what the developers are doing. The numerous regular expressions that are run may fail in various ways, without existing a bug in their implementation.
All the regexp runs are guarded already by try/catch, to be able to identify if the regular expressions are failing but there may be cases

[2021-02-11 16:57] andreeis commented on #104
Thank you for the feature idea and for willing to help us implement it. Indeed this would be a very useful functionality.
We are interested in reviewing and testing a PR from you. We would merge it in after we ship Makefile Tools on the MS Market Place next week. You and any other developers in the community will be able to use it immediately even if it won't be included in our first public releas

[2021-02-11 17:36] #89 closed

[2021-02-11 18:11] bobbrow commented on #89
When we named it 1.0, we were actually just referring to the first release to the VS Code Extension Marketplace.  The actual version number of our first release will be 0.2.0 since we still consider the extension to be in "preview" stage.  We are finishing up some documentation and plan to publish to the Marketplace very soon (as early as next week).

[2021-02-17 07:10] andreeis opened #110 "Replace configuration cache with compilation database file"
We will accept a PR about creating a compile_commands.json at the end of every configure. This file needs a caching that is very similar to the current configurationCache.log. Unify.
See relevant discussion about this idea and alternatives here: https://github.com/microsoft/vscode-makefile-tools/pull/107.

[2021-02-17 07:36] andreeis opened #111 "Extend launch configurations with more needed items"
Good inspiration is CMake Tools with its debugConfig.
One example of important item to add is environment variables.

[2021-02-18 16:51] bobbrow opened #114 "makefile.extensionOutputFolder should not log user paths to telemetry"
Before I can enable this telemetry point in our dashboard we need to scrub it like some of the other fields that have PII.  It is currently blocked.  We don't need that data anyway, we just care about whether the setting is used or not.

[2021-02-19 15:12] dan1994 opened #115 "Output window is opened whenever the extension processes changes to the makefile"
First of all, this extension is awesome! I've been waiting for makefile support for some time now!

I've been tinkering with a sample project with a makefile and a single C++ source. What I've noticed is that whenever I update the makefile and then focus on the C++ file, the Makefile Tools output window is opened.
Is there a way to suppress this, as it is pretty annoying, especially when  simultan

[2021-02-19 16:16] andreeis commented on #115
Thank you for opening this report. We tried to tune the frequency with which the the extension shows the output window, not too often to be annoying but also to mark important moments in the project. This is good feedback and we can adjust at any time.
Our thought was that it would be useful to display the output window at the beginning of build, pre-configure and configure operations.
When you mo

[2021-02-19 16:29] dan1994 commented on #115
Thanks for the quick reply!

My personal preference is to keep things in the background unless something goes wrong. In the ideal scenario I don't need to care when the extension is triggered nor what it does. All I want to care about is that the include directory or the new define I added are recognized by the intellisense. If something doesn't work I'll just open the output tab manually.

I do t

[2021-02-20 11:05] simonsunnyboy opened #116 "Makefile target is not listed"
My project only outputs a listing of possible targets.
The current plugin does not detect those options on its own.
What i need is "make x" instead of "make all" or "make all x"

I tried the configurations but this only executes "make all x"
    "makefile.configurations": [
        {
            "name": "x",
            "makeArgs": ["x"]
        }
    ],

I would be totally fine if the "Set the ta

[2021-02-20 16:23] andreeis commented on #116
Thank you for opening this report. We are sorry you experience this inconvenience and we will address this as soon as possible.
Please attach the .vscode/targets.log and point us where the un-detected target is.
And yes, as a workaround for exactly these situations we will make the target editable and/or offer a setting.

[2021-02-20 16:26] andreeis commented on #116
A workaround now, for having make X instead of make all X, keep the configurations as you defined them, they will ensure the X but to get rid of all don't set all as a target (which you probably did in the left side panel UI (right?). Currently, we don't have a way to unset a target back to the empty default (we have a work item for this too) but you can reset the whole state of the project with t

[2021-02-20 18:50] simonsunnyboy commented on #116
Project is EmuTOS, https://emutos.sourceforge.io/

Targets not listed are:
$ make all
Please read doc/install.txt before continuation.

target  meaning
------  -------
help    this help message
version display the EmuTOS version
192     etos192us.img, EmuTOS ROM padded to size 192 KB
256     etos256us.img, EmuTOS ROM padded to size 256 KB
512     etos512k.img, EmuTOS ROM padded to size 512 KB
aran

[2021-02-20 18:52] simonsunnyboy commented on #116
I only have "all" as a target on the left panel and no other choices, regardless of "configurations" provided.

![image](https://user-images.githubusercontent.com/11463542/108605587-34615180-73b5-11eb-8bda-db71b9c1da25.png)

[2021-02-22 13:13] d-chris opened #117 "makefile could not find another included makefile"
my `makefile` includes another `make.target` which  contains some additional variables

[code]

the `makefile` and `make.target` is not the `${workspaceFolder}` but in the same directory. i specified the path to the makefile within the settings.json

[code]

an ugly workaround is to copy `make.target` into the `${workspaceFolder}` a better solution could be

[code]

[2021-02-22 16:55] bobbrow opened #118 "stabilization/tests"

[2021-02-22 23:36] andreeis commented on #116
If you run the command "Makefile: Reset the Makefile Tools Extension workspace state (for troubleshooting)", the "all" will be replaced with empty. "all" will not be sent to any of our "make" invocations. This will allow only the "makeArgs" you set in the "prg" configuration to be included in the "make" command.
You are saying that's not the case? The resetting command did not 'wipe out' the 'all'

[2021-02-23 00:12] andreeis commented on #117
You need the argument -C to be included in the "make" invocation command. You can achieve this by defining a makefile configuration:

"makefile.configurations": [
    "name": "MyConfiguration",
    "makeArgs": "-C ./cavr/adif/",
    "makefilePath": "./cavr/adif/makefile"   --> the top level setting "makefilePath" works as well, it will be applied, but defining it here is an alternative
]

I think

[2021-02-23 00:22] andreeis opened #119 "Align C/C++ standard defaults to CppTools and CMake Tools"
We need to fix the C/C++ standard defaults that the extension sends to CppTools.
This is the same fix as CMake Tools needs to do soon: https://github.com/microsoft/vscode-cmake-tools/issues/1477.

[2021-02-23 00:40] #57 closed

[2021-02-23 00:45] andreeis opened #120 "More launch "parameter-ization""
Feature request (see comments in https://github.com/microsoft/vscode-makefile-tools/issues/87).

"Would it be possible to add something like ${command:makefile.makefileDefines[xxx]} with an array of all defines detected by your extension - So I could do ${command:makefile.makefileDefines[DEVICE]} which would expand to EFM32G890F128."

[2021-02-23 00:46] #87 closed

[2021-02-23 00:49] andreeis opened #121 "Name setting for launch configurations"
Currently, the launch configurations are uniquely defined by CWD, path and args.
It would benefit to add a name to be able to register same cwd/path/args with different combinations of the other available attributes (miDebugger, stoptAtEntry, etc..) but also to be able to better visualize and toggle in the UI.

[2021-02-23 00:50] #88 closed

[2021-02-23 00:55] andreeis opened #122 "Extend "makefile.preconfigureScript" to "makefile.configurations[].preconfigureScript""
The preconfigure script is useful to define also at the makefile configurations level, besides the project global level.

[2021-02-23 01:21] andreeis opened #123 "Environment variables"
Requested by users to have, as CMake Tools does, a setting for environment variables.
This would be an alternative to preconfigure script.
Maybe also per configuration or only global...

[2021-02-23 14:24] mgerhardy opened #124 "Generate compile_commands.json for Makefile projects"
There is e.g. compiledb available: https://pypi.org/project/compiledb/

It would be very cool to include this or something like this in order to use clangd language server and or the ms intellisense working properly.

[2021-02-23 15:59] simonsunnyboy commented on #116
No makeArgs is what I tried initially. It appends target "all" so when I run the prg target, it actually performs

$ make all prg

when the following snippet is part of settings.json

"makefile.configurations": [
{
"name": "prg",
"makeArgs": ["prg"]
}
],

In this project case this actually works but there may be others where "all" really does all and not the intended part.

considering
"And then I

[2021-02-23 17:11] bobbrow commented on #124
Thanks for the suggestion.  I don't think we can use that project directly because the license isn't fully compatible with ours (we'd have to ask our legal team), but the suggestion to write a compile_commands.json file is still a reasonable one and we should already have the data we need.

This extension's intent is to interface directly with the C++ extension such that compile_commands.json is n

[2021-02-23 18:47] andreeis commented on #124
There is also a PR from the community implementing compile_commands.json support in Makefile Tools extension. We will not include that in our next patch release 0.2.1 but soon after that (possibly 0.3.0).
Anyway, it would be very valuable if you help us reproduce the IntelliSense problems you are seeing so that we fix them. Make sure you select Makefile Tools as IntelliSense configuration provider

[2021-02-24 00:00] andreeis commented on #116
Ok, I know what's going on.

The extension doesn't parse any build targets because we do not support yet localization in this extension. There are some strategic string searches in .vscode/targets.log which currently work for english only. I didn't realize that, we would have written about it. Localization will be achieved in some of our future releases.

But still, if you insert any missing targe

[2021-02-24 00:06] andreeis opened #125 "Unset configurations in the side panel"
The three UI elements (configuration, build target, launch target) start as unset. Once set to something (if their quickPicks have values to offer) they can't be unset, unless by running the troubleshooting command which cleans all three (and more other state vars) at once.

[2021-02-24 00:08] andreeis opened #126 "Invoke tools with english language"
Until we implement localization, we can try to force english on "make" to ensure we always get english output that we can parse, on all systems.
Investigate whether this is possible.

[2021-02-24 00:11] andreeis opened #127 "An "always" check on "continue anyway" popups"
We have 2 bottom right popups: when building after a failed save and when launching after the build failed. Particularly the last one, can happen often and be annoying. We can follow the VS model to add an "always" check to that popup so that it doesn't show.

[2021-02-24 00:34] andreeis opened #128 "Ability to select more than one target"
For build targets, many repositories would require to invoke make with more than one target (when for example "all" is not wanted).
It would help to have a UI with multiple selection instead of the current quickPick.
Current workaround is to use "makefile.configurations[].makeArgs" to hook up any combination of targets.
Another workaround is to alter the makefile to define an intermediary target c

[2021-02-24 00:34] andreeis opened #129 "Implement support for problem matchers"

[2021-02-24 00:47] andreeis opened #130 "Support special syntax for compilation and launch"
Will split later into more items if needed. Dumping all here for now.

Compilation
- cl.exe: /DMyDefine1=Val1,MyDefine2=Val2
- wrappers (cl.cmd)
- cl, lib and link: @file.rsp (response files)
- account for unusual or very old source file extensions (.c++, .C). hpp?
- conflicts analysis for switches that impact IntelliSense: /TC with /TP, /D and /U

Launch
- binary target invoked via "cmd -c", "sta

[2021-02-24 00:51] andreeis opened #131 "More advanced pre-configure return code analysis"
Depending how a pre-configure script is written, we may calculate wrong the return code.
The bash API returns only the last command error code, so we lose any previous error which is relevant if the last tool invocation returned success.
To mitigate this, we introduced some error whenever stderr is triggered, but that may happen even if that tool that is currently running succeeds in the end. Not

[2021-02-24 00:53] andreeis opened #132 "Setting to increase the dryrun timeout"
If for any reason we got the value too small, it's good to give the user the option to set it to higher instead of being annoyed by it. Once clicked it doesn't show up again during that same configure step, but it will show up again during the next configure.

[2021-02-24 00:56] andreeis opened #133 "Make more settings available at the configuration level besides the global level"
Currently "makefile.configurations" contains "makePath", "makefilePath", "makeArgs" and "buildLog". It will soon contain "preconfigureScript" but maybe there are more that make sense to be defined at this level as well (buildLog, extensionLog, configurationCache, ... etc ...).

[2021-02-24 09:16] Marsfan opened #134 "Do not append .exe to command"
I primarily use makefiles though WSL. Because of this, the way I run `make` is with the following command

[code]

When I configure the makePath as
[code]
The extension then adds the the extension `.exe` to the end of the command. This results in the following error in the _Makefile Tools_ output window:

[code]

[2021-02-24 16:14] simonsunnyboy commented on #116
Are you referring to the localisation used by make itself?
So it fails due to my make reporting German text.

I can understand that and will try to make it use English.

I tried on a local console only but not yet within Visual Studio Code:

`$ make tfred`
`make: *** Keine Regel, um „tfred“ zu erstellen.  Schluss.`
`$ LANGUAGE=en_US make trffef`
`make: *** No rule to make target 'trffef'.  Stop.`

[2021-02-24 16:15] andreeis commented on #134
Thank you for opening this report. We will fix this for the soon upcoming patch release.
The problem is that we thought of makePath as path, not as a command but we understand your scenario and we'll think what to do about it.

As a workaround, make yourself a full clean build log by running any commands you need in your terminal, point that output to the extension via the setting "makefile.buildL

[2021-02-24 16:22] andreeis commented on #116
Oh you made it work, cool. Thanks, that example will help us incorporate the trick in the extension automatically, even for when we'll have implemented localization. The messages the extension reports to the user will always need to be localized, but output from make, gcc and other tools it will be good to be produced always in english regardless since just the extension consumes (or the user duri

[2021-02-24 16:25] andreeis commented on #126
Experiment from GitHub report https://github.com/microsoft/vscode-makefile-tools/issues/116:
$ make tfred
make: *** Keine Regel, um „tfred“ zu erstellen. Schluss.
$ LANGUAGE=en_US make trffef
make: *** No rule to make target 'trffef'. Stop.

[2021-02-24 16:38] simonsunnyboy commented on #116
I also managed to reroute the tool through a shell script now. I had to set the Make Path with an absolute path to my wrapper script.

Now the additional build targets are found correctly.

This is a temporary workaround for my needs.

Thank you for your patience :)

[2021-02-24 16:40] #116 closed

[2021-02-24 16:40] simonsunnyboy commented on #116
Closed as an additional more precise issue was opened.

[2021-02-24 18:30] bobbrow commented on #134
Have you tried using the [Remote - WSL extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-wsl) in VS Code to do your WSL work?  This will launch the extension in linux mode which wouldn't require prepending `wsl -e` to your make command.

Since the release of that extension, the C/C++ extension no longer supports IntelliSense for WSL when running the Windows ver

[2021-02-24 22:23] andreeis opened #135 "String setting when the make invocation needs a prepend command"
Opening this as low priority item, as it is very probable that we would not implement it.
Some developers need to invoke make via some other tools (example: "wsl -e make" and others, not wsl related). Currently, they've been including such commands in the makePath setting, which kind of works but it can be easily broken because the extension treats makePath as a path.
We can implement a new settin

[2021-02-24 22:25] andreeis commented on #135
Another scenario where this is needed is when the system language is not english. The extension needs to parse english output from "make". Until we implement a fix for this, the users can invoke a script via "makefile.makePath":
"$ LANGUAGE=en_US make"

[2021-02-24 22:30] andreeis commented on #116
Oh, that was a cool idea. Simpler than introducing a pre-Configure step in your workflow. I'm sure we'll steal it :).
Why do you say temporary? What isn't fully working with this setup? Just asking to make sure we don't overlook anything when addressing this issue.
If the extension were to always add that prefix ("LANGUAGE=en_US ") before any make invocations that we do for configure and targets (

[2021-02-24 22:58] andreeis commented on #114
Also fix the debug/launch string in the configure trigger because it's seen as a path.

[2021-02-25 13:58] simonsunnyboy commented on #116
If it it solves the problem, yes ofcourse.
I noticed I couldn't get it to work with the makePath itself which is why I rerouted make.

[2021-02-27 10:34] hitman-codehq opened #136 ""Makefile: Build clean the current target" is misleading"
Hello make plugin team!

Plugin version tested: 0.2.0

Can I suggest a renaming of the command "Makefile: Build clean the current target" as this is quite a misleading name.  I was searching for how to do a "make clean" and could not find it as I was expecting it to be something like "Makefile: Clean the current target".

There are actually two clean commands:

1) "Makefile: Build clean the curren

[2021-03-01 15:01] andreeis commented on #136
Thank you for the naming suggestions. I understand the grammar behind them. We will think about it.
In the meantime, I want to explain more from our side and to double check with you how these commands work.

You say that "Build clean the current target" only does a "clean", while "Build clean the target ALL" does a "clean" and builds "all". Actually, "Build clean the current target" is supposed t

[2021-03-02 18:46] ftrias-pole3 opened #138 "Build fails on paths with spaces"
When using a makefile where the path has spaces, the build command fails. I am using a custom Makefile Path and Make Path. It appears that the "make" command (which also has space) is quoted properly and executes, but the "makefile" path is not. See below.

Building the current target. Command: C:\Program Files (x86)\Microchip\MPLABX\v5.35\gnuBins\GnuWin64\bin\make.exe -f c:\Users\My Name\Document

[2021-03-02 21:13] andreeis commented on #138
Thank you for opening this report. We will fix this for the upcoming patch release. I wasn't able to use escaped quotes either, the extension would do other wrong stuff in that scenario.
As a workaround, you can produce a full clean build log in your terminal, then point the extension to that file via the setting "makefile.buildLog" in .vscode/settings.json.

[2021-03-14 14:55] jardinimf opened #140 "Broke intellisense with ccache"
If the gcc is aliased to ccache or the $(CC) expands to "$(CCACHE) $(GCC) ..." then intellisense was unable to find the default C/C++ headers.

Partial solution for ccache in $(CC) expansion was add an makefile.configurations to undefine $(CCACHE), but with side effect of making build slow.

Can it be possible to add configurations for dry-run only? Or someone have a tutorial on how to configure v

[2021-03-16 15:35] andreeis commented on #140
Thank you for opening this report. We didn't test this with CCache over here yet but there are in place some things that I hoped it would enable easily this scenario.
The idea with dry-run only configurations is a good one and once we figure out how to unblock you with using CCache with Makefile Tools we'll look at where that feature request fits in our backlog.

Set the logging verbosity to debug

[2021-03-16 21:42] jardinimf commented on #140
Did the log collect, it was easy to see the issue in the extension.log

Taking one line as example:

    ...
    Force Includes:
    Standard: c11
    IntelliSense Mode: gcc-x64
    Compiler Path: /usr/bin/ccache
    ...

Because of ccache the "Compiler Path: " get the wrong hint for the path

After a short test without ccache, it got the correct path:

    ...
    Force Includes:
    Standard: c1

[2021-03-16 22:12] andreeis commented on #140
Wonderful, thank you. We will fix this. In the mean time, don't use a workaround that is not using ccache to get your builds slow, use "makefile.buildLog" to point to a full clean build output created by you separately, after you remove all occurences of "/usr/bin/ccache". IntelliSense parsing will not invoke "make" nor "ccache" but will always read from that log. All features of the extension sho

[2021-03-18 07:35] hitman-codehq commented on #136
Hello Andreea.

I finally did some experimentation and yes, I think that invoking with 2 make commands would be better.

For both of the commands they *alternate* between doing a clean and doing a make.  i.e.  The first time I invoke "build clean the target ALL" or "build clean the current target" they clean the target, the second time I invoke the command, they build the target, the third time an

[2021-03-29 13:12] SPRINGING opened #141 "cannot select target in the tag:build target"
I am trying to build MFEM: https://github.com/mfem/mfem using vscode. The makefile in the project support target for debug, parallel, etc. I am able to build them through terminal. In the makefile-tools, the only target I can select is [all].  Can I change it through configuring the setting.json?

[2021-03-29 14:48] andreeis commented on #141
I quickly cloned the mentioned repo (always the easiest to share your projects with us) and I am seeing 227 build targets being identified.

We would like to replicate your scenario exactly over here. Can you share with us more commands that you are using in your terminal?

Also, we'd like to have a look at these files that the extension works with:
- .vscode/dryrun.log
- .vscode/extension.log (af

[2021-03-29 20:26] sean-mcmanus opened #142 "Argument parsing is incorrect (e.g. -g file.cpp is grouped as an argument)"
Originally reported at https://github.com/microsoft/vscode-cpptools/issues/7252 .

The argument parsing code doesn't handle the cases where a flag taking a single argument (e.g. -g) is followed by the filename. It's sent to the cpptools extension as "-g file.cpp" which we don't currently support.

[2021-03-29 20:57] Colengms commented on #142
Cpptools expect compilerArgs to be individual command line args (as see by the shell).  If an arg is multi-part, each part should be separate.  Note that some args are 3 or 4 part (some Darwin options, such as -sectobjectsymbols, -segaddr, -sectalign, etc.), and secondary args can start with a "-", such as when using -XClang or -Xlinker.

[2021-03-29 21:07] andreeis commented on #142
Thank you both for investigating up to the root cause and for giving this extra info, I wasn't aware of this requirement.

[2021-03-30 06:24] SPRINGING commented on #141
Thanks very much for your answer. I added an argument 'config' in setting.  Here is my setting for the 3 files:

- .vscode/dryrun.log

`make all config -f /home/bbnc_zak/zak_BBNC/Projects/finiteElementAnalysis/mfem/makefile --dry-run --keep-going --print-directory
make: enter directory “/home/bbnc_zak/zak_BBNC/Projects/finiteElementAnalysis/mfem”

/home/bbnc_zak/zak_BBNC/Projects/finiteElementAnal

[2021-04-02 19:05] andreeis commented on #141
There is currently no way to unselect a build target (or any item in the left side panel UI), we have a work item for that: .
But if you run the command "Makefile: reset the Makefile Tools Extension workspace state (For troubleshooting)" from the palette, you will unset the makefile configuration, the build target and the launch target.
You will have to reset your makefile configuration (which is

[2021-04-03 11:01] MiguelGuthridge commented on #142
Sorry, can someone clarify how to fix this? I'm running Ubuntu 20.04 in WSL 2. Building the project works perfectly, both for the extension and for calling `make ...` manually.

I have a project in the default state provided by the extension, and am getting the same errors as above (as well as some with `stdbool.h`).

I can't find references to `compilerArgs` in any configuration files that I am a

[2021-04-05 06:32] andreeis commented on #142
@MiguelGuthridge, this is a bug in the Makefile Tools extension and I can't think of a workaround at the moment. We will fix this asap and it will be part of our upcoming 0.2.1 release. Once the fix is in the GitHub repository you will be able to get unblocked before the official release date by manually installing a vsix with the fix. We'll let you know once we fixed this problem.

[2021-04-05 16:42] sean-mcmanus commented on #142
A workaround may be to move the "file.cpp" to the end of all your compiler arguments in your makefile.

[2021-04-12 19:33] avrahamshukron commented on #123
It will be most useful as a per-config option

[2021-04-12 19:39] avrahamshukron opened #144 "Allow preconfigure script to accept user input through stdin"
Some projects (like Android) use an [interactive command](https://source.android.com/setup/build/building#lunch) menu for configuration where you presented with a list of numbered configurations and you can select one.

It will be most useful to allow the preConfigureScript to accept user input, and save the need to create a specific preconfigure script for each option.

[2021-04-14 17:11] drimmeer opened #145 "makefile not found in the settings -> extensions"
I installed the makefile extension according to https://devblogs.microsoft.com/cppblog/now-announcing-makefile-support-in-visual-studio-code/ , but when I tried to following instruction in section "Configuring your project" to try to go to File > Preferences > Settings -> Extensions, I could not find the 'makefile' as stated in this section.

Please advice.

[2021-04-14 17:35] bobbrow commented on #145
Can you help us understand better what you mean when you say that you cannot find the makefile?  If you open a folder and the makefile is not in the root of that folder, you will need to set the `makefile.makefilePath` setting to tell us which makefile you'd like to use.  Then you can run the `Makefile: Configure` command to get started.

[2021-04-14 19:01] drimmeer commented on #145
Hi,
Thank you for your prompt response.

As described in the ticket, I meant that I could not find the 'makefile' option under the 'extension' session of the 'settings' page. That is, I don't know where to specify this 'makefile.makefilePath ', is it in a file? where is the file?

Thanks,
Jamie

________________________________
From: Bob Brown ***@***.***>
Sent: April 14, 2021 1:35 PM
To: microsof

[2021-04-14 19:34] bobbrow commented on #145
To edit settings, go to File -> Preferences -> Settings
![image](https://user-images.githubusercontent.com/12818240/114768322-8cfdfc80-9d1d-11eb-8ad7-9831f2f32df5.png)

When the UI appears, you can type 'makefilepath' in the search and it should appear.  (`makefile.makefilePath` is the name of the setting as it appears in JSON)
![image](https://user-images.githubusercontent.com/12818240/114768431-

[2021-04-14 19:40] drimmeer commented on #145
Wow! Your trick worked! Now the 'makefile' option appears! Thank you very much!

[2021-04-14 20:31] bobbrow commented on #145
Glad we could help!

[2021-04-14 20:31] #145 closed

[2021-04-15 19:03] andreeis commented on #144
Thank you for the feature idea. We will monitor the community reactions to determine in what milestone this would fit in.
In the meantime, you can run the preconfigure script from the terminal that is integrated in VSCode. This will not have all the benefits of running it programmatically via the "makefile.preConfigure" command and the "makefile.preConfigureScript"/"makefile.alwaysPreConfigure" se

[2021-04-18 09:51] hitman-codehq opened #146 "launchConfigurations are sometimes duplicated"
Hello plugin developers!

I have attached a .vscode\settings.json file that I use for cross development using the makefile plugin (as a .zip file as .json is not a supported upload format).  This settings.json file is configured to allow me to remotely execute the software I have built.

It works well *but* there is sometimes some strange behaviour of the plugin.  If you select the Makefile plugin

[2021-04-18 10:04] hitman-codehq opened #147 "Warnings are not displayed in the "Problems" tab"
Please find attached two files:

Warnings.zip, which contains a simple test.cpp file and a makefile.
NoWarnings.png, which shows what happens when I build the test using VS Code and the makefile plugin.

You can see from the NoWarnings.png screenshot that I have designed the example to cause a compiler warning to be emitted.  However, the compiler warning is not being added to the "problems" tab.

[2021-04-21 17:32] MiguelGuthridge commented on #71
I seem to be getting the same error on a project, but only for one .c/.h pair in the project. It was originally all my open files, but the others fixed themselves after I restarted VS Code. I'm honestly not sure what's going on... it could just be another symptom of my laptop's dying hard drive or something. If there's any info that I can include to help out with diagnosing the issue I'll gladly p

[2021-04-21 21:17] andreeis commented on #146
I agree that the launch targets symptom that you described can easily become annoying. We have several other similar bugs identified in this area that we were planning to address after 0.2.1 but let me see if I can easily fix this particular scenario for the upcoming 0.2.1.

The mystery with cygdrive comes from the fact that the extension detects if your VSCode instance was launched from a cygwin

[2021-04-21 21:26] andreeis commented on #147
We don't have yet support for problem matchers. We plan to address this limitation post 0.2.1. We are tracking this with https://github.com/microsoft/vscode-makefile-tools/issues/7 so I will close this report as a duplicate.
Also, you are not imagining that sometimes you do see problems (errors/warnings). Those are not detected by Makefile Tools. Either by CMake Tools when it's also activated or b

[2021-04-21 21:26] #147 closed

[2021-04-22 05:00] hitman-codehq commented on #147
Thanks for taking the time to respond @andreeis.  The makefile plugin is still a new product so no worries at all if there is the occasional problem.  Bring on 0.2.1!  :-)

[2021-04-22 23:08] Lutra-Fs commented on #71
the same issue, and looks like we are doing the same work. is the file Girvan Newman? @MiguelGuthridge

[2021-04-22 23:42] andreeis commented on #71
@MiguelGuthridge and @Lutra-Fs, it may happen for these squiggles to be inconsistent. The bug in the Makefile Tools extension would be consistent (let's say providing wrong info or none for a file) but CppTools sometimes is able to deduce defaults also when loading other source files around.

Set debugging loggingLevel for both Makefile Tools and CppTools in your .vscode/settings.json to be ready:

[2021-04-23 02:16] MiguelGuthridge commented on #71
@andreeis thanks! I'll keep an eye out for the next time I can reproduce it. It seems like I was able to stop the issue by building the project. The error would only happen for files that hadn't been included in a build yet. I might do some experimentation to see if it requires the project to be made using the extension or whether it is also fixed by running `make all`. This looks like it's a very

[2021-04-23 15:46] andreeis commented on #71
Oh, that is a by design scenario. Depending on how a makefile is set up, the extension may not be able to gather all information. Always look in .vscode/dryrun.log to see if a file with missing or bad IntelliSense is present in a compilation command in there. If it's missing, then the extension can't do much.

There are several tricky scenarios when the extension can't know all that it needs. They

[2021-04-23 15:57] MiguelGuthridge commented on #71
Oh cool that does make sense... In that case, would it be possible to actually have a specific message for that to let the user know that they just need to make the file and it'll be able to process things properly then? I can imagine a ton of users getting just as confused as me when they encounter this particular issue, and being sent on a wild goose chase trying to find the solution in the C/C+

[2021-04-23 16:02] andreeis commented on #71
You are right. First, let me know when that happens again (or make it happen, add a new file :) that won't be picked up by the dry-run build), do you see a message in the output channel mentioning that "Configuration for file [your file] was not found. CppTools will set a default configuration."

We can make the output channel visible with every such message. Would you prefer a popup on the bottom

[2021-04-23 16:09] MiguelGuthridge commented on #71
A pop-up in the bottom right could be quite intrusive for some people actually. I think the best option would be to add something to the problems list for that file explaining why it isn't getting intellisense and why it has the 1027 error. That way people would see it when they saw the existing error and would be pointed in the right direction for solving it.

[2021-04-23 16:15] andreeis commented on #71
Thank you for the suggestion. We will make sure to consider it when we implement problems and matchers support: https://github.com/microsoft/vscode-makefile-tools/issues/7.

[2021-04-23 16:22] MiguelGuthridge commented on #71
That sounds great! I'm so keen to see how it pans out, and thanks so much for the consideration of my ideas!

[2021-04-23 21:00] drimmeer opened #156 "Suddenly happened - "command-line error: language modes specified are incompatible" on all my c code"
Bug type: Language Service

**Describe the bug**
- OS and Version: Windows Server 2012 R2 standard
- VS Code Version: 1.55.2
- C/C++ Extension Version: 1.3.1
- Other extensions you installed (and if the issue persists after disabling them): Make File Tools 0.2.0
- If using SSH remote, specify OS of remote machine: N/A
- A clear and concise description of what the bug is, including information abou

[2021-04-27 08:37] Johnny-Geng opened #148 "Debugger Configuration to Enable Pretty Printing GDB"
Hi there, I'm a novice programmer, and I just wonder if there is a way to change the default configuration for makefile tool to enable pretty printing when debugging (so that I can inspect elements in vectors, strings, etc. (from STL) properly, instead of getting a bunch of memory address )?

I know that whenever I debug without the makefile tool, I'm able to achieve so by putting the following co

[2021-04-27 16:36] andreeis opened #149 "Fix compiler arguments parsing script for windows"
for %%i in (%*) do echo %%i
is separating also on comma and equal instead of space only.
It's not urgent to figure out how to fix the separator in this script now (for 0.2.1) because both scenarios don't happen yet: the comma syntax is linux only (and the equivalent script in bash happens to work) and the equal syntax doesn't occur for the remaining switches that are usually analyzed and sent to C

[2021-04-27 16:54] andreeis commented on #148
We did not implement yet a way for Makefile Tools to pass such requirements to the debugger. We will address this feature request by following the example of CMake Tools (which adds information like this via the "cmake.debugConfig" setting).

Until then, you can use launch.json (and debugging via F5) which supports this syntax and to take advantage of Makefile Tools in such scenario you can use co

[2021-04-28 08:22] andreeis commented on #142
@MiguelGuthridge, you can find a vsix with the fix for this problem at https://github.com/microsoft/vscode-makefile-tools/actions/runs/791925873. Installing that (with the "Extensions: Install From VSIX" command in the palette) can unblock you until we release Makefile Tools 0.2.1. Let us know if you find any issues.

[2021-04-28 16:27] andreeis commented on #114
When I change the default for extensionOutputFolder I get "...". I can't make it report a path. I wonder how to reproduce this. Do you still see this happening?

[2021-04-28 18:05] andreeis commented on #115
@dan1994, in the end we didn't add a new setting but we made the output channel to show only when there is an error.
Until we release Makefile Tools 0.2.1, if you want you can install this vsix to benefit of this change: https://github.com/microsoft/vscode-makefile-tools/actions/runs/793552744.

[2021-04-28 18:06] andreeis commented on #140
@jardinimf, until we release Makefile Tools 0.2.1, you can install a vsix from https://github.com/microsoft/vscode-makefile-tools/actions/runs/793552744 and get ccache support.

[2021-04-28 18:06] andreeis commented on #138
@ftrias-pole3, until we release Makefile Tools 0.2.1, you can install a vsix from https://github.com/microsoft/vscode-makefile-tools/actions/runs/793552744 with a fix for this problem.

[2021-04-28 18:32] dan1994 commented on #115
Thank you!

[2021-04-28 21:51] andreeis opened #151 "Preconfigure arguments"
Implement a new string (or string array) setting "preConfigureArgs" to be passed to the preconfigure script when it is run.
Global ("makefile.preConfigureArgs") and per configuration ("makefile.configurations[].preConfigureArgs").
The current workaround is to wrap a different script on top of the desired one, with the arguments written in the wrapper. This can quickly explode to many configuration

[2021-04-28 21:52] andreeis commented on #151
This would be different than https://github.com/microsoft/vscode-makefile-tools/issues/144 and similar in implementation with https://github.com/microsoft/vscode-makefile-tools/issues/122.

[2021-04-28 21:57] andreeis opened #152 "Implement a command prefix for the make invocation"
In scenarios like https://github.com/microsoft/vscode-makefile-tools/issues/134 or https://github.com/microsoft/vscode-makefile-tools/issues/126, users may need to inject something in the same command that calls for make: either set a variable (although this can be done with preconfigure as well and in future with env var settings) or call various wrapper tools.

Currently some inventive users are

[2021-04-28 21:59] andreeis commented on #116
@simonsunnyboy, is it handy for you to try the same trick for windows and let us know what adaptations are needed? Otherwise I'll experiment with this sometimes soon, no worries.

[2021-04-28 22:04] andreeis commented on #134
Implementing the possibility to prefix the make invocation command will be addressed later (https://github.com/microsoft/vscode-makefile-tools/issues/152). The 0.2.1 for this GitHub issue will be just being more clever when adding the ".exe" extension on windows. There was some wrong logic around that. PR coming soon.
This fix may also enable you to use a wrapper script (define "makefile.makePath"

[2021-04-28 22:30] andreeis opened #155 "Cleanup of stale launch configurations"
Launch configurations add up in time and pollute .vscode/settings.json, especially when exploring more launch targets with various debugging settings.
Think of a way to identify when they become stale. Find the best way to cleanup (with or without user interaction, ...etc...).

[2021-04-28 23:02] andreeis commented on #134
You can test a vsix from here: https://github.com/microsoft/vscode-makefile-tools/actions/runs/794271000, until we release 0.2.1.

[2021-04-28 23:54] andreeis commented on #146
The following work item will add readable names (also editable by you) to each different and slightly similar configuration: https://github.com/microsoft/vscode-makefile-tools/issues/121.
Until then, also note that the "mouse over" event on the launch configuration node will show CWD+Binary+Args of the currently set launch configuration which will help you a bit to differentiate between all of the

[2021-05-03 01:25] nchevsky commented on #117
@andreeis

This doesn't work because (Cygwin) `make` first changes into the `-C` directory and then treats `makefilePath` as relative to that directory, which ultimately resolves to `./cavr/adif/cavr/adif/Makefile` ❌:

[code]

This is a 🐔-and-🥚 problem:

- If we specify both `-C` and `makefilePath`, `vscode-makefile-tools` can find the Makefile but `make` can't.
- If we omit `-C` and specify `make

[2021-05-03 06:48] andreeis commented on #126
Use https://github.com/microsoft/vscode-cmake-tools/pull/1824 as inspiration.

[2021-05-03 06:52] andreeis commented on #117
Good idea for bullet 3: to have the extension find the makefile if -C is in the command. We'll fix this.

[2021-05-03 06:58] andreeis commented on #156
@petr-nechaev and @drimmeer, please share .vscode/dryrun.log and the output channel of a configure (with "makefile.loggingLevel": "Debug"). Also give one example of source file where this symptom occurs, so that I follow any references of that source in these logs.

[2021-05-03 07:50] nchevsky commented on #117
Thank you! When matching, please note `-C` also has a long form, `--directory=`.

[2021-05-04 01:40] MarcusOy opened #157 "Using "integratedTerminal" instead of Debug Console?"
It seems like there is no documented way to use the "integratedTerminal" while debugging instead of the Debug Console. I am trying to debug a C++ ncurses app, where a terminal must be present for the app to run. Since this extension doesn't seem to use `launch.json` (and rather keeps its launch config in `settings.json` under `"makefile.launchConfigurations": [...]`), we cannot set `"console": "in

[2021-05-04 07:15] andreeis commented on #157
Thank you for opening this report. In the future we will add more things to "makefile.launchConfigurations" (including console types). But you can use launch.json now with this extension. It can make use of the extension knowledge with the following commands that are available: getLaunchTargetPath, getLaunchTargetDirectory, getLaunchTargeFileName, getLaunchTargetArgs, getLaunchargeArgsConcat, laun

[2021-05-04 08:32] simonsunnyboy commented on #116
I'll have to check as I normally don't use Windows for development. This will take some time for me to install tools un my Windows machine.

[2021-05-04 10:37] andreeis commented on #146
When a launch configuration entry is manually edited in .vscode/settings.json and it happens to be the current launch configuration selected previously for the project, if the manual edit results in changing the identity of the entry (cwd+bin+args, as opposed to the other fields like stopAtEntry or miMode...etc...) then it is treated as a new launch configuration (there will be a new entry in the

[2021-05-04 10:39] andreeis commented on #116
@simonsunnyboy, I forgot to update you. There is no need to experiment anymore. We figured out over here. Thank you for letting me know before you would have spent the time.

[2021-05-04 16:54] lszomoru opened #160 "Support Workspace Trust"
Hello :wave: I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as _Workspace Trust_. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execute

[2021-05-04 18:04] #126 closed

[2021-05-05 20:10] andreeis opened #162 "Consider -f and -C from makefile.configurations.makeArgs as well besides makefilePath and makeDirectory"
We need validation and preferences rules for when makeDirectory and makefilePath are defined at the same time with makeArgs (-f, --file, --makefile, -C, --directory).
Plus, when makefilePath is not defined and there is no makefile in the root, but there is -C or --directory in makeArgs, search for the file there as well. Currently the extension searches for this scenario only in whatever place mak

[2021-05-05 20:14] andreeis commented on #117
@d-chris and @nchevsky, you can try a vsix from here (https://github.com/microsoft/vscode-makefile-tools/actions/runs/814645166) to see if we fixed these situations right.

You can define now "makefile.makeDirectory" globally or under a configuration "makefile.configurations[].makeDirectory". Without defining "makefilePath" and wihout having a makefile at the workspace root, the extension will sea

[2021-05-05 20:33] andreeis commented on #136
We fixed this issue and until we release 0.2.1 you can try, if you want, a vsix from here (https://github.com/microsoft/vscode-makefile-tools/actions/runs/814645166).

[2021-05-05 20:35] andreeis commented on #146
We fixed this issue and until we release 0.2.1 you can try, if you want, a vsix from here (https://github.com/microsoft/vscode-makefile-tools/actions/runs/814645166).

[2021-05-05 20:37] nchevsky commented on #117
Works great! With only `makeDirectory` set (i.e. no `makeArgs` or `makefilePath`), the extension automatically passes `-C` (and no `-f`) to `make`, both `make` and the extension can find the Makefile, and `make` can follow paths relative to `makeDirectory`. Thank you for the quick fix!

[2021-05-06 03:18] drimmeer commented on #156
Thanks @sean-mcmanus  @andreeis and @petr-nechaev .
I accidentally solved the problem by disabling the makefile extension, undoing all my changes, and then enabling the makefile extension.

[2021-05-06 17:24] andreeis commented on #156
@drimmeer, good to hear that. For the future, anytime you see IntelliSense problems and you're using Makefile Tools, here are some easy steps to identify whether this extension does something wrong or not:
- search for the source file path that has red squiggles in .vscode/dryrun.log. If you don't find a compiler invocation for this source file, then you need to figure out in your makefile why it'

[2021-05-06 21:28] #114 closed

[2021-05-06 21:28] #134 closed

[2021-05-06 21:28] #136 closed

[2021-05-06 21:29] #138 closed

[2021-05-06 21:29] #140 closed

[2021-05-06 21:29] #142 closed

[2021-05-06 21:29] #146 closed

[2021-05-06 21:29] #117 closed

[2021-05-06 21:33] andreeis opened #164 "Better wording in logs, commands, tooltips, etc..."
For a future cleanup, evaluate the names of commands, text in logs, tooltips in UI, etc...
Some suggestions about the build commands: https://github.com/microsoft/vscode-makefile-tools/issues/136.
Add more as we think of improvements or we receive suggestions from the community.

[2021-05-07 10:21] dueringa opened #165 "Update 0.2.1 appears to break finding standard headers with gcc-arm-none-eabi"
Since I updated Makefile Tools to version 0.2.1 (from 0.2.0 if I think), suddenly, I get IntelliSense warnings about stdint.h and stdbool.h not found. The project compiles fine, though.

This is with a configuratuin using gcc-arm-none-eabi.

The "error squiggles" were not present in the previous version.

This is my `c_cpp_properties.json`:

[code]

dryrun.log and extension log:

[dryrun.log](http

[2021-05-07 10:24] dueringa commented on #165
For completeness, inc/config.h:

[code]

src/main.c:

[code]

This is just to demostrate that stdint.h is not found according to IntelliSense

[2021-05-07 11:53] lszomoru opened #166 "Support virtual workspaces"
👋 Hi there, Martin here, from the VS Code team.

Recently we've announced the [Remote Repository feature](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub) that lets you browse and edit files and folders directly on GitHub.

`Open Remote Repository...` opens VSCode on a folder or workspace located on a virtual file system. We call this a **virtual workspace**. We observed

[2021-05-07 15:15] drimmeer commented on #156
Thank you @andreeis for the advice! I'll keep this in mind.

[2021-05-07 19:31] andreeis commented on #165
No need for you to downgrade to 0.2.0 to give us the old logs. I loaded your dryrun.log as a build log myself, to parse exactly on that output and I found the diffs between the extensions.

Are you using MinGW or MSYS environment?
If so, one set of diffs is that the compiler and source file paths changed from posix to windows style and also compiler path is full path now. I need to see the C/C++ t

[2021-05-08 14:01] dueringa commented on #165
Sorry for the delay, please find attached the output of the log, and C/C++ diagnostics

[output.txt](https://github.com/microsoft/vscode-makefile-tools/files/6445941/output.txt)

I'd say neither? I have MSYS2 installed, but I'm not using it in this case.

What strikes me is the

[code]

error message.

[2021-05-11 04:09] tsweaver321 opened #168 "Linux Targets that require sudo"
How can a Linux target that requires sudo (e.g, scheduler changed to SCHED_FIFO) be launched and debugged with this extension?

[2021-05-11 16:17] pwittich opened #169 "passing C preprocessor variable which is a string"
Issue Type: <b>Bug</b>

In my makefile for a c project (microcontroller code) I pass in the git hash as a string via a preprocessor directive. The quotes on the preprocessor directive are not handled properly.  Please see attached screenshot.

![vscode_bug](https://user-images.githubusercontent.com/7728573/117850078-f7d62100-b252-11eb-8beb-0e4ddb2478d0.jpg)

In the dryrun.log file the command is l

[2021-05-11 16:45] bobbrow commented on #168
I believe you would need to create a `launch.json` file for debugging ([more information here](https://code.visualstudio.com/docs/cpp/launch-json-reference)).  If desired, you can use the substitution variables [listed here](https://github.com/microsoft/vscode-cmake-tools/blob/develop/docs/cmake-settings.md#variable-substitution) to fill in the path to the target binary.

[2021-05-11 23:36] andreeis commented on #169
@pwittich, can you define the git hash with only one pair of quotes? Why 2 pairs? Before implementing complicated scenarios of removing or not removing nested quotes (other projects use them in more complicated ways for various reasons) let us know why you can't modify your makefile and what scenario would remain uncovered by having only one pair, like:  -I../.. -DFIRMWARE_VERSION="v0.31.14-2-gd05

[2021-05-12 02:30] pwittich commented on #169
Alas if I do that it does not compile.

The actual snippet of the makefile looks as follows.
[code]
`CFLAGS` gets passed directly to the compilation command. If I don't protect the second set of quotes as written and instead write it as below:
[code]
I get the following error (identical with or without the unprotected quote around $(GIT_VERSION).)

[code]
i.e., FIRMWARE_VERSION is treated like som

[2021-05-12 06:57] dueringa commented on #165
This indeed fixes the problem. IntelliSense doesn't display errors anymore.

Thanks 👍

[2021-05-12 06:57] #165 closed

[2021-05-12 08:29] andreeis commented on #169
Ok, thank you for the details. We will fix this.

[2021-05-12 09:04] avrahamshukron opened #170 "Pre-configure script is broken on Linux"
Commit a157d1aae00340ea2e050443b151a7900aa87f94 introduced a bug:

[code]

Notice how the single quotes meant to be around `${wrapScriptFile}` are actually crossing the double-quotes boundaries, so the source command contains stray `"` and the invocation fails.

[2021-05-12 16:33] andreeis commented on #170
Thank you for letting us know. We will fix it immediately and we'll release a patch update 0.2.3.

[2021-05-12 19:15] #170 closed

[2021-05-12 20:14] andreeis commented on #169
Unfortunately, while investigating your scenario I found more similar but different scenarios of nested quotes that need to be fixed together, with maximum attention and ideally after we implement some regression testing at least for the parsers.
This is to risky to address for 0.2.2 and I'm moving it for 0.3 (which could be 3-4 months away). As soon as I have the fix in, I can provide a vsix to u

[2021-05-14 12:11] dan1994 opened #173 "Configuration for compiled files is not found"
I keep getting notified that configuration for files can't be found. This happens every time I open a source/header file, and is accompanied by an intrusive appearance of the output window. It may also result in incorrect intellisense, but I'm not sure about that.

This is the warning I get:
![image](https://user-images.githubusercontent.com/6225230/118267706-29562300-b4c5-11eb-8067-2a85748fb863.p

[2021-05-14 14:04] GiancarloFusiello commented on #173
I'm also seeing this appear every time I open a `.cpp` file in the editor.

For context, I'm using the Remote Containers extension and open the project inside of a Ubuntu 20.04 container.

Any guidance for suppressing the output window to appear would be helpful.

Thanks.

[2021-05-14 18:29] andreeis commented on #173
@dan1994, even if the file names are not mentioned in the makefile, the extension needs to see them in the dry-run log. Can you share the output of the command "make --dry-run --always-make --keep-going --print-directory"? If the files are not explicitly logged in there, the extension cannot work properly. Are you using any silencing directives?

@dan1994 and @GiancarloFusiello , are the files tha

[2021-05-14 20:42] andreeis commented on #173
@dan1994 and @GiancarloFusiello, also is this something that regressed recently or the message "CppTools will set a default configuration" was always present for these files, if you ever used Makefile Tools older than 0.2.2?

[2021-05-14 21:01] dan1994 commented on #173
I ran the command and it doesn't explicitly mention the files, probably because of the use of `make -C`. Here is the output:

[code]

No.

Yes.

This is the correct target.

A good question. On the one hand I would like to know if a specific file is not covered by intellisense, but on the other hand popping the output window is really annoying, and I would rather reserve it for fatal makefile erro

[2021-05-14 21:13] dan1994 commented on #173
I decided to check if `make` can do a dry run recursively and ran into [this](https://stackoverflow.com/questions/8554101/make-recursive-dry-run) post that advises to replace invocations of `make` with `$(MAKE)`, and it solves the problem.

You might want to suggest that to users, as I think this might be a common use case.

I do get the error message once for the first header file I open (per rel

[2021-05-14 22:06] andreeis commented on #173
@dan1994, thank you for your ideas, very useful points. We will address each of them.
About getting the error for the first header that is opened in VSCode, that is now by design. Since headers are in general included by C/C++ sources instead of compiled alone, their IntelliSense exists only in the context of the translation unit that references them. Notice that as soon as you open in VSCode a so

[2021-05-17 08:47] GiancarloFusiello commented on #173
@dan1994 I've tried replacing `make` for `$(MAKE)` but that does not seem to make a difference in my case.

@andreeis I'm working on a very simple project as a method to get to grips with VSCode and C++ so I'm happy to share. [Here](https://github.com/GiancarloFusiello/CppND-System-Monitor) is the repo I'm working on.

This is what the Makefile looks like at present:
[code]

dryrun.log
[code]

tar

[2021-05-17 08:54] GiancarloFusiello commented on #173
This is what the output window is displaying when I open any `.cpp` file:
[code]

[2021-05-17 16:03] andreeis commented on #173
We are glad that everyone is unblocked.
I will keep this work item open for these comments I made above.

[2021-05-19 08:34] PBHDK opened #174 "Configuring Linux Kernel - make dry-run fails"
Hi all,

I'm currently trying to set up a Linux kernel dev environment in VS Code on my Linux VM and I have been struggling to get intelliSense running.

First, [this issue in the C/C++ extension's repo](https://github.com/microsoft/vscode-cpptools/issues/5588) brought me here. However, I have been struggling to set up makefile-tools with the linux kernel.

I generated a default configuration as p

[2021-05-19 14:35] johan162 opened #175 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `makefile-tools`
- Extension Version: `0.2.2`
- OS Version: `Darwin x64 20.4.0`

- VS Code version: `1.56.2`

[ms-vscode.makefile-tools-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-makefile-tools/files/6509576/ms-vscode.makefile-tools-unresponsive.cpuprofile.txt)

Find more details here: https://github.com/microsoft/vscode/wiki/Expl

[2021-05-19 19:35] andreeis commented on #174
Here are some steps to give us extra information to look at:
- set "makefile.loggingLevel": "Debug" and "makefile.extensionLog": ".vscode/extension.log" in your .vscode/settings.json
- reload your project in VSCode or simply run again either of the commands "Makefile: Configure" or "Makefile: Clean configure" from the palette
- open one C or C++ source file that exhibits the squiggles (and let us

[2021-05-19 19:49] andreeis commented on #175
Can you share your project if it happens to be open sourced somewhere or if it's small enough and easy to zip?
If not, then can you share .vscode/dryrun.log and .vscode/extension.log (after setting "makefile.loggingLevel": "Debug" in your .vscode/settings.json)?
Does configure ever finish? Is it just slow and causes high cpu load only or it also hangs?

[2021-05-19 20:41] andreeis opened #176 "Compile_commands: add "output" keyword when needed"
Add the "output" keyword into the compile_commands.json generated by the extension to make sure that the scenario of compiling the same source into multiple outputs is correctly represented.

Note for implementation: use explicit output switches (-o, -out, -Fe, -Fo, etc...), if none present use "Must remake target `Target Name`" message from dryrun or build log (generated with --debug switch for m

[2021-05-19 21:07] PBHDK commented on #174
I have attached the requested files (with redacted username - it's related to uni and shouldn't be public).

After activating debug-level logging and clean rebuilding, I wasn't able to reproduce the squiggles in the header, but was only getting "language modes specified are incompatible". Probably related to this? [https://github.com/microsoft/vscode-makefile-tools/issues/156](url)

[c_cpp_diag_ou

[2021-05-19 21:25] andreeis commented on #174
Thanks. I'll look into those log files shortly. Since you're saying that you don't reproduce the squiggle anymore, let me also explain that if you open a header file in VSCode without opening first a source file that is meant to include that header, the header will make the CppTools extension (the one responsible with the real IntelliSense calculations) to invoke some heuristics that pick various

[2021-05-19 23:12] johan162 commented on #175
Hi,

You can find the project here: https://github.com/johan162/utable  (just a
small utility library)
The Makefile extension actually worked the first time I installed it. But I
got one of those small balloons that urged me to update and after clicking
on that it stopped working.

It actually hangs and it seems 100% repeatable.

*System*:
OSX 11.3.1

*VS Code: *
Version: 1.56.2 (Universal)
Commit

[2021-05-19 23:29] andreeis commented on #175
Thank you, this is very useful. We'll investigate this asap. Do you happen to know which version of Makefile Tools you had installed before this last update? I assume you are now on 0.2.2 and before I wonder if you had 0.2.1, 0.2.0 or 0.1.3. We can investigate without knowing this, of course, but if you happen to remember where you updated from it would give us some clues.

[2021-05-20 07:05] johan162 commented on #175
I would be lying if I gave you some versions of what I upgraded, I just
don't remember (and didn't really take notice), but I seem to recall some
info message about tool change notice (clang <-> gnu) but It might just be
a red herring since on this laptop I only have the default clang toolchain
installed and not gnu.

But I believe this bug should be quite easy to spot since it seems to be
stuck i

[2021-05-20 08:12] PBHDK commented on #174
Ah, that's good to know, thanks! The original squiggles were in a C source file.

[2021-05-25 23:15] andreeis commented on #175
I followed your instructions and I confirm the hang. It's been documented in our docs/troubleshooting.md. Your makefiles and targets are set up in a way that when --dry-run and --always-make are together make never finishes. You can either rearchitect your makefiles or instruct Makefile Tools to not use the "--always-make" switch.
You can set "makefile.dryrunSwitches" in your .vscode/settings.json

[2021-05-25 23:19] andreeis commented on #175
One more workaround. Produce a clean build log of your whole project and pass it to the extension via "makefile.buildLog". This will make the extension to read from there and not invoke make --dry-run --always-make in an attempt to read from .vscode/dryrun.log.
The only downside is that when you make build makefile changes that would impact IntelliSense (switch changes, new files, etc...) you need

[2021-05-25 23:40] andreeis commented on #174
I looked at the files and l only noticed extract-cert.c and iomem.c, right? Was there any other with squiggles that you'd like to zoom in?
extract-cert.c looks that is included in the dryrun, I didn't spot any problems with parsing its compilation line. Let me know if I'm missing anything. Any problems with extract-cert.c now?
iomem.c I see that is not present in the dry-run. You need to figure ou

[2021-05-27 19:01] PBHDK commented on #174
Thank you so much for taking the time! I don't think it's an issue with a specific file, but rather that I'm really just doing something wrong. And no, I did not remove --always-make.

For other reasons, I had to reorganise my repo, which lead to me more or less cleaning everything out. I ran _make CC=clang-11 distclean defconfig clean_, I passed _CC=clang-11_ to makefile tools in _setting.json_ a

[2021-05-28 19:22] johan162 commented on #175
Hi!

Thanks for the investigation and the proposed workaround!

Since I did an autoconf/automake setup I will have to dig into this a bit
if it is even possible to force autoconf/automake to behave in the wanted
way or if this could be considered a bug in the autotools (the makefile
should never hang no matter what switches is used) it will probably take me
a week or two for me to get to the botto

[2021-05-31 16:09] kmbgit opened #178 "Expose build command to use in tasks"
If my makefile (written for gmake) runs a compiler (gcc) then I'd expect the PROBLEMS tab to detect compiler warnings and allow me to click on them to go to the line of code to fix them.  If one makefile does a cd and calls another makefile in another directory then I'd expect VS Code to track that through the Entering/Leaving messages output by gmake so it knows what directory relative paths are

[2021-06-02 21:25] ant6n opened #179 "Set up build, Start-debugging, run-without-debugging launch configurations"
I've attempted to import a trivial c++ project into vscode using the makefile tools extension. The makefile tools recognizes the makefile and provides Buttons to "Build", "Debug" and "Run-in-Terminal" within the extension, but there does not appear to be an obvious way to have these set up to be accessible from the "Run"-menu. This also means that ctrl-shift-B, F5 and ctrl-F5 shortcuts are not set

[2021-06-04 09:19] LareinaJi opened #180 "how to configure the extension for 2 folders to make intellisense work"
I have 2 folders in my workspace, as the following pic shows.  for the first folder makefile_rtp, with Makefile Tools as configuration provider for cpptools, the intellisense works well. but for the second folder makefile_dkm, the comilerPath used in Makefile is different from the one in the first folder, but it always use the the  compilerPath in the first folder when parsing the source file. and

[2021-06-04 18:11] bobbrow commented on #178
Thank you for trying out the extension.  This feature request is on our backlog.  You can track it with issue #7.
There is also a way to set this up with `tasks.json` so that you don't need to wait for #7.  We need to write up some documentation/examples for that (it is also recently requested #179).

[2021-06-04 18:13] bobbrow commented on #129
Duplicate of #7

[2021-06-04 18:13] #129 closed

[2021-06-05 19:40] johan162 commented on #175
Hi Andreea,

Had a chat with Kal Berry who is one of the longtime maintainers of
automake and he reckons that the combination of these options in an
autotools project are mutually exclusive. As an example we reproduced this
exact problem in re-building "make" (v4.3) itself.

So it might be worth pointing out in the README that autotools project
might run into this problem.

However, it's weird tha

[2021-06-08 15:57] andreeis commented on #175
@johan162, thank you for confirming this autotools problem. We will update our documentation with this info. In the meantime, I hope one of the workarounds I described will still help you use this extension.

[2021-06-08 15:57] #175 closed

[2021-06-08 16:00] andreeis commented on #180
@LareinaJi, you can also experiment with writing a top level makefile that would invoke the other two and configure from the top level.

Like maybe Makefile:

all:
	$(MAKE) -C ./makefile_rtp/
	$(MAKE) -C ./makefile_dkm/

And you open VSCode from where your top level makefile is. Or if you need to open VSCode from a different location and you need to have the wrap makefile somewhere else, you defin

[2021-06-08 16:00] andreeis commented on #178
@kmbgit, besides the problems not detecting warnings, can you describe what other issues you see related to "CD" commands and "entering/leaving"? I suspect there are other problems that happen, otherwise just not having warnings in the problems tab I don't think that would make the extension "a bit useless" :). Do you have a repro project for us?
Can you experiment with this setting "makefile.igno

[2021-06-08 16:04] andreeis commented on #174
@PBHDK, I have seen those errors and always tried to do something that would result in a make which doesn't complain about that. I did run menuconfig or xconfig. I don't have experience about what is the right way to configure linux kernel. I only tried various things until I got a configuration that would produce compiler commands for the extension to parse (instead of useless output about not ha

[2021-06-08 16:08] andreeis commented on #179
Thank you for opening this report on GitHub. We will think about what we can do to improve these user scenarios.
In the meantime, in case you don't know already, when writing a launch.json (which is a general VSCode construct, not introduced by our extension) you can still invoke Makefile Tools functionality via some command variables that get expanded for you. These variables are described in [do

[2021-06-08 18:51] bobbrow opened #181 "Makefile icons/commands appearing in non-Makefile repos"
Clone https://github.com/Microsoft/vscode-cpptools and open the Extension folder in vscode.

I am seeing Makefile Commands appear in the command pallette and the view container icon appears in the panel as well.  These items should be hidden in non-Makefile workspaces (except maybe the Configure command)

[2021-06-11 23:03] stryder-vtx opened #182 "Not all build targets listed"
1st a caveat: I'm completely new to vscode so I might've missed something here.

My Makefile has a section listing all the possible targets (for all) like:
[code]
However, when I click the edit symbol to change the build target, all I get is:
all
bin/proga
clean

so I can't select individual programs except the 1st one. Shouldn't it list all the targets?

[2021-06-12 06:59] hitman-codehq commented on #136
Hello @andreeis, I noticed recently that the make commands had "magically" started to work properly, and then I noticed that this issue had been addressed and rolled out in a new plugin version.  I just wanted to say thanks very much! 👍

[2021-06-13 09:26] AlexYzhov opened #183 "Cant't handle relative include path?"
Hi everyone, I found out that makefile-tools may not support relative include path passed by "-I" param. The rules in my makefiles are to let compiler search directories relative to the path of source code files. However makefile-tools seems always manage these include paths as absolute or started from "makefile.makeDirectory".

Here are my logs:
[dryrun.log](https://github.com/microsoft/vscode-ma

[2021-06-14 18:09] ohenrich opened #184 ".DEFAULT target not supported"
The .DEFAULT target doesn't seem to be supported. The recipe specified under .DEFAULT is used for any target for which no rules are found.

[2021-06-15 08:50] PBHDK commented on #174
Many thanks for getting back to me on this, @andreeis !

I now managed to get intellisensing the manual way through the c/ c++ extension. That will do for now, I guess.

Once I have more time, I'll try to get Makefile Tools running with my project again. Once I have, I'd also love to contribute something like "How to: Setting up the linux kernel project in VS Code". Again, once I have more time.

[2021-06-15 08:50] #174 closed

[2021-06-16 19:25] AntonioL opened #185 "Improve Makefile --dry-run output parsing"
I am dealing with legacy code which issues compile commands in the form of:
[code]

This makes vscode-makefile-tools not parse the include paths, somehow, so I guess it fails in parsing the dry-run output. If you tell me where are the logs I can check that and provide that for you.

I propose that --dry-run output parsing takes care of eventual env vars being prepended to the command.

I patched o

[2021-06-16 19:31] AntonioL commented on #185
I can confirm this is the case by looking at the configurationCache

[2021-06-16 21:51] andreeis commented on #182
I wrote by hand the pattern I saw above in one of my small programs and I didn't reproduce the problem. Then I copied exactly from what you wrote and no targets were parsed. I reviewed all differences and I started to see all targets being parsed again after I made sure that the "\" was the last character in the line. I couldn't reproduce exactly your scenario (I either had all 3 targets or none,

[2021-06-16 21:51] #182 closed

[2021-06-16 21:53] andreeis commented on #136
Thank you @hitman-codehq for letting us know of this issue in the first place. With your help and the community we will gradually improve this extension. I am glad things work now.

[2021-06-16 22:06] andreeis commented on #183
@AlexYzhov, the extension is calculating, while reading command by command from the dryrun.log, which is the current directory in that particular point. It follows any cd, pushd/popd or -C and once a compilation command is seen, for each of -I switches it constructs a full path from the currently calculated current path and the relative path in the -I. I can't think of a scenario where this wouldn

[2021-06-16 22:20] andreeis commented on #184
@ohenrich, thank you for suggesting this idea that we overlooked. Please clarify (since we didn't use these much), as I read in [Special MAKEFILE Targets](https://www.gnu.org/software/make/manual/html_node/Special-Targets.html), it would be useful if the extension would automatically add to the build targets list the following? ".PHONY", ".SUFFIXES", ".DEFAULT", ".PRECIOUS", ...etc...?

In the mea

[2021-06-16 22:32] andreeis commented on #185
@AntonioL, thank you for this feature idea that we overlooked.
Since I didn't work much with this scenario and you have more experience, please help me understand in more detail.
- In the case you wrote above, ENV_VAR_1 and ENV_VAR_2 would apply only to the g++ invocation of that line and not anytime below, right?
-can those ENV_VAR_1 and ENV_VAR_2 be used in the g++ arguments (for -D, -I...etc co

[2021-06-16 22:44] AntonioL commented on #185
That is correct in the above example the environment variables would apply only to that g++ invocation on that line.
I did not know about that makefile.buildLog param, I can investigate that, will do that tomorrow and let you know.

Taking aside the workarounds we are discussing.
What do you think @andreeis should this extension be in the business of figuring out the env vars or not?

[2021-06-16 22:57] andreeis commented on #185
Ideally yes, if we find out that they can be used in the compiler command. The extension is not invoking the compiler and since those environment variables don't matter below, this is an argument for not calculating them, only to ignore them so that we can parse correctly the rest of the line. But if the compiler uses switches by expanding those variables set before, then we would need to calculat

[2021-06-17 15:31] AntonioL commented on #185
I can confirm that indeed patching the "makefile.buildLog" works like a charm. It is not great dev experience but yeah it definitely works!

Looking forward to this feature being prioritised!

[2021-06-17 16:35] andreeis commented on #185
@AntonioL, if you notice anything that is not working (other than when modifying source files/switches in the makefile which require build.log regeneration) let us know because besides not being able to refresh itself everything else should still work: configure, IntelliSense, having build targets and launch targets identified in the left side panel, building, debugging, running in terminal... all

[2021-06-17 16:46] andreeis opened #186 "Implement util.looksLikePath"
Implementing this helper to identify if a string looks like a valid path or not (without checking the file system) will help with cleaning up some conditions in parser.ts and with testing which now needs to save lots of 0 bytes files only to pass this check.
We check now for fs.exists on directories or files because we didn't implement something else to tell the difference when a tool we are inter

[2021-06-17 17:00] AlexYzhov commented on #183
After your sharing, maybe I got the idea why relative path on my project can't work correctly
My makefile won't do any cd or -C process during making the target, I use relative path to target file instead.
for example:
`gcc target.c -o ../relative/path/from/source/files/target.o -I ../relative/path/to/include/files`

The way I wrote makefile may mislead the plugin to do parsing jobs. Adding suppor

[2021-06-17 17:44] andreeis commented on #183
Then the extension should parse "../relative/path/to/include/files" and apply it to the root folder where the makefile is. If it doesn't do this it's a bug, we'll see in .vscode/extension.log. If it does this and you don't agree let's discuss what should happen here.
Ok, we'll wait for the .vscode/extension.log. Also if you come up with a whole end to end project that manifests this I can have a l

[2021-06-17 20:23] AntonioL commented on #185
@andreeis I will review and update here.

[2021-06-18 08:07] ohenrich commented on #184
@andreeis Yes, I can confirm what you say is what I was suggesting. These build targets .DEFAULT, etc, ... are not supported at the moment, requiring significant changes to certain Makefiles.

Thanks for suggesting this work around. I will give this a try within the next few days and let you know how it works.

[2021-06-23 09:52] pdecherf opened #188 "GDB not stopping on breakpoint and not showing line number in WSL Ubuntu 20.04"
Hello, GDB is not working in my workspace. It has been working in other workspace before and I don't know what make it different this time. Here is what gdb says :

=thread-group-added,id="i1"
GNU gdb (Ubuntu 9.2-0ubuntu1~20.04) 9.2
Copyright (C) 2020 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to

[2021-06-23 12:41] aman-user opened #189 "GDB not stopping at break point when using Makefile Tools extension"
Hi ,

I am trying to debug https://github.com/snap-stanford/snap/tree/master/examples/cesna
i have build the project using [makefile-tools](https://marketplace.visualstudio.com/items?itemName=ms-vscode.makefile-tools) with [Makefile](https://github.com/snap-stanford/snap/blob/master/examples/cesna/Makefile)
after the binary got generated.  I am trying to debug with option "DEBUG" in makefile-tools

[2021-06-23 16:51] andreeis commented on #189
Closing as a duplicate of https://github.com/microsoft/vscode-makefile-tools/issues/188 (just one GitHub issue earlier than this).
I am investigating. In the meantime, maybe setting "makefile.defaultLaunchConfiguration.stopAtEntry": "true" in your .vscode/settings.json can help at least break at the beginning of your program?

Also, has this ever worked for you?

Thank you for giving a repro, I wi

[2021-06-23 16:51] #189 closed

[2021-06-23 16:55] andreeis commented on #188
@pdecherf, we are investigating this. Not very likely, but does setting "makefile.defaultLaunchConfiguration.stopAtEntry": "true" in your .vscode/settings.json help at least with stopping at the beginning (the entry point) of your program?

@WardenGnaw, any ideas? There is also a repro at duplicate issue https://github.com/microsoft/vscode-makefile-tools/issues/189 which I will try soon.

[2021-06-23 19:25] andreeis commented on #188
@pdecherf, can you add the following in your launch.json and send to us the content of the debug tab? This may provide clues for why the breakpoint doesn't bind.

“logging”: {
   “engineLogging”: true,
   “traceResponse”: true
}

[2021-06-23 21:37] andreeis commented on #189
@aman-user, I just tried the snap project and I am debugging fine on linux after changing the compilation switch -O3 with -g. I debugged cesna and circles from the examples folder. This was after building for the very first time after simply replacing -O3 with -g in makefile.config.

Then I tried to make the change to debug as it looked that is recommended from the comments. I uncommented the CXXF

[2021-06-23 21:38] andreeis commented on #188
Are you able to share your project?

[2021-06-23 22:10] andreeis commented on #189
I was able to debug fine using -g and -ggdb and -rdynamic, so no problem with these switches. But if O3 is also present then the example binaries are not successfully built (and I don't see relevant error messages about their cpp files so I don't know why). Rewrite that portion of makefile.config so that when you use debug, O3 is not included.

Also, instead of commenting/uncommenting flags in the

[2021-06-23 22:12] andreeis commented on #188
I just investigated the repro for 189 and that project was setup to add debug switches after the non debug -O3. As soon as I removed -O3 from the makefile I was able to debug properly. I am mentioning just in case this may happen in your project. Double check the command line compiling the source code of where you're trying to debug.

[2021-06-24 07:52] aman-user commented on #189
Thanks it is working fine only thing is even if i do step over (F10) it is going step into (F11)

[2021-06-24 09:51] pdecherf commented on #188
This last message gave me the idea to look back at my Makefile and I realized there was a mistake on my side. Sorry about that, everything works fine now.

[2021-06-24 15:56] andreeis commented on #188
Glad to hear, closing the issue.

[2021-06-24 15:56] #188 closed

[2021-06-24 15:57] andreeis commented on #189
Glad to hear.

[2021-06-24 16:39] Alex-EEE opened #190 "Tool can't build, doesn't match output from terminal"
This is all the output I get:
[code]

Then I run the exact same command from the terminal, no problem:
[code]

Works just fine.  I've also tried changing the working directory around on the terminal, I don't have any problems.  What's up with this lousy tool?

[2021-06-24 16:50] Alex-EEE commented on #190
Ok, I had to use the folder path (-C) setting instead of the makefile path setting.  Still weird that terminal and this tool doesn't have matching behavior

[2021-06-24 16:50] #190 closed

[2021-06-24 18:52] andreeis commented on #190
@Alex-EEE, the command that is calculated by the extension should work the same in VSCode as in your terminal. It would help if you give us more details so that we reproduce the same symptom and fix it if is a bug.
In VSCode, the Makefile Tools extension will run the build command from the project root folder (which you open with "Open Folder"). When it ran successfully in your terminal, were you

[2021-06-25 17:51] andreeis opened #191 "Fix occasional regression tests failures around compilerArgs"
Occasionally and randomly, compilerArgs is empty instead of the expected string array.
Investigate why we don't sometimes receive stdout callbacks from the invocation of the parseCompilerArgs script.
Until we fix this, tests need to be rerun 1 or 2 times when this happens.

[2021-06-27 06:07] cdwilson opened #192 "Include errors for generated headers in MicroPython"
It looks like Makefile Tools is not finding some generated headers when used with the MicroPython project:

![image](https://user-images.githubusercontent.com/14631/123534510-75a29e80-d6d2-11eb-9b53-2dcfd84c72d7.png)

I followed the suggested instructions from https://github.com/microsoft/vscode-makefile-tools/blob/main/docs/repositories.md and set up a top-level Makefile to build the STM32 port:

[2021-06-28 09:01] ohenrich commented on #184
@andreeis What you suggested doesn't work. The Makefile Tools get stuck in a configuration step. I reverted to my previous fix (replacing .DEFAULT with something else) until you implemented this properly.

[2021-06-28 21:10] andreeis commented on #184
@ohenrich, I forgot to mention that after you add those entries in "makefile.configurations", you also need to select the first one "DefaultTargets" either via the command "makefile.setBuildConfiguration" in the palette or via the "..." near the "Configuration" element in the "Makefile Tools" left side UI panel (above of where you select, in the same way, the build target).

If you already did thi

[2021-06-28 21:17] andreeis commented on #192
@cdwilson, is the generated header present on disk at that location, meaning there was a full build performed before loading the project in VSCode and activating the Makefile Tools extension? If not, do a build and try again.
If it's present, then let's see how the extension parses the include folders. Set "makefile.loggingLevel" to "Debug" and "makefile.extensionLog" to ".vscode/extension.log" in

[2021-06-29 19:53] ericis commented on #101
@andreeis I always define `.PHONY` command orchestrations inside the "./makefile" itself, which handles all of the command dependencies. Would this work for your scenario? This has the added benefit that any engineer that can run make can execute the tasks as defined in the "./makefile" without requiring VS Code.

[2021-06-29 22:41] andreeis opened #193 "Improve on the regression tests"
- [ ] Parameterize the non windows tests when they are similar at the core
- [ ] Move things out of src
- [ ] Move functionality into test setup/cleanup
- [ ] Expand existing tests on mac and mingw (fix paths issues)
- [ ] Expand with more baselines from the tested repositories
- [ ] Expand with more functionality to test (like configuring from cache, ...)

[2021-06-30 01:21] cdwilson commented on #192
@andreeis my mistake, I didn't realize that the configure step needed to be run manually after the build.  Things started working (squiggle went away) after running `makefile.configure` in the palette.  I think this is simply due to the fact that `genhdr/pins.h` is created during the build, so it wasn't found during the initial configure.  Thanks for pointing me in the right direction!

[2021-06-30 01:21] #192 closed

[2021-06-30 05:56] hitman-codehq commented on #173
@andreeis I have also been having problems with IntelliSense not working on my project.  Luckily I stumbled upon this issue here and this helped me to figure out that it is my makefile that was the problem.  I have this rule:

[code]

It turns out to be those ... characters in the echo line that cause the problem as they prevent the .c file from being found.  The output in dryrun.log is:

echo Com

[2021-06-30 16:29] andreeis opened #194 ""..." prevents proper parsing of source files"
@andreeis I have also been having problems with IntelliSense not working on my project.  Luckily I stumbled upon this issue here and this helped me to figure out that it is my makefile that was the problem.  I have this rule:

[code]

It turns out to be those ... characters in the echo line that cause the problem as they prevent the .c file from being found.  The output in dryrun.log is:

echo Com

[2021-06-30 16:30] andreeis commented on #192
@cdwilson,  glad to hear.

[2021-06-30 16:49] Alex-EEE commented on #190
Ok, let me circle back and try from the root folder and see what happens

[2021-07-06 13:13] victoria-georgieva opened #195 "Cannot build a file"
The project needs to configure in order to build properly the current target.
Saving opened files before build.
Generating configuration cache with command: make.exe -f "C:\Users\Victoria Georgieva\Documents\GitHub\parallel-sudoku-solver\src\Makefile" --dry-run --keep-going --print-directory
Writing the dry-run output: c:\Users\Victoria Georgieva\Documents\GitHub\parallel-sudoku-solver\.vscode\dry

[2021-07-06 18:48] cdwilson opened #196 "Header includes specified as preprocessor macros are not resolved"
The [micropython](https://github.com/micropython/micropython) Makefile specifies some of the header includes as preprocessor macros.  For example, `STM32_HAL_H` is defined in `ports/stm32/Makefile` as:

[code]

This shows up as an include in the source files like this:

[code]

Makefile Tools doesn't seem to be able to resolve headers defined this way.  If I replace the preprocessor macro with the

[2021-07-06 21:00] andreeis commented on #196
@cdwilson, thank you for describing this scenario. We weren't aware of it. It's very interesting and we will address this case.

[2021-07-06 21:03] andreeis commented on #195
@victoria-georgieva, it looks like the extension doesn't know how to find make.exe. You can either open your VSCode from a command prompt that has make.exe on the path, or you can define "makefile.makePath" in the .vscode/settings.json of your project. Let us know how this works for you.

[2021-07-06 22:02] andreeis commented on #196
Also, can you share your .vscode/dryrun.log for this project when you don't change the header definition?
And define "makefile.extensionLog": ".vscode/extension.log" and "makefile.loggingLevel": "Debug" and share .vscode/extension.log.

[2021-07-07 00:50] cdwilson commented on #196
@andreeis please see attached

`settings.json`
[code]

[dryrun.log](https://github.com/microsoft/vscode-makefile-tools/files/6773495/dryrun.log)
[extension.log](https://github.com/microsoft/vscode-makefile-tools/files/6773496/extension.log)

![image](https://user-images.githubusercontent.com/14631/124683558-24d53780-de82-11eb-8675-d41767b73bca.png)

[2021-07-08 05:02] btgould opened #197 "Specifying "--no-print-directory" breaks Browse Path"
When making a recursive make call with `--no-print-directory`, the generated browse path "skips" the intermediate path from the workspace root to the sub directory the next makefile resides in.
My `settings.json` file currently looks like:
[code]
After a full configure, the browse path listed in `extension.log` has many entries, which all have a similar form to: `path-to-workspace-root-path/path-f

[2021-07-08 08:09] andreeis commented on #197
@btgould, if your project happens to also print out commands like "cd", "pushd" that would match the "-C" output when "print-directory" is on, you can try to set "makefile.ignoreDirectoryCommands": "false" and see how the paths are computed then. If the dry-run log is not writing any change directory commands then this setting won't do anything and it's better to remove it from your .vscode/settin

[2021-07-08 15:54] btgould commented on #197
Unfortunately, there are no similar `pushd` or `cd` commands in the generated makefiles. In dryrun.log, there is one `make: Entering directory 'project-root'` at the beginning of the file, and one `make: Leaving directory 'project-root'` at the end, but no other indications that make knows it should be changing directories. Interestingly, in the extension.log file, there are several lines of the f

[2021-07-09 08:20] andreeis commented on #197
I understand. Then I don't think there is anything that the extension can do in your case. I think we will close this report in a day. If you have any ideas of what can be done for this scenario let us know.

[2021-07-11 18:59] COOLIRON2311 commented on #115
No you did not. The extension (0.2.2 on Ubuntu 20.04) opens Output tab each time the project containig makefile is opened even if the tab was disabled via terminal settings. Please, still consider adding an option to turn off the output completely.

[2021-07-14 00:04] andreeis commented on #115
Currently the output channel is shown when an error occurs, when the build starts and indeed at the beginning. We did not think that these few events may cause annoyance to any developer. I also missed the scenario of wanting the whole output tab missing form the UI (I wasn't aware of it). I just researched how to make that setting and we can make an easy fix for the extension to read the setting

[2021-07-14 14:26] mtnmbr commented on #178
Hi,
could you please provide a link to the workarround using task.json? I am not able to get this done with a setup like this:

[code]

[2021-07-15 01:56] AntonioL commented on #185
I got a chance to play around with this for a while and so far I cannot note regressions when leveraging makefile.buildLog .

[2021-07-15 10:26] COOLIRON2311 commented on #115
No, as you said, only at the beginning, on build and on error. It is the beginning part that causes the annoyance.

[2021-07-22 17:45] andreeis commented on #178
@mtnmbr, the launchTargetPath command will resolve to the name of a binary that is built by your project and which you selected as a launch target. This command is used when debugging or launching in the terminal.
You need to generate a make command. Currently, the Makefile Tools extension does not expose a command to reveal how make is invoked according to all the current settings. Let me retitle

[2021-07-25 11:22] MaddyGuthridge opened #198 "No launch targets identified"
I'm trying to get my program to debug using this extension and I'm running into issues getting it to run with debugging.

This is the Makefile I'm using:

[code]

The extension correctly identifies all the build targets and will build correctly, but does not detect any launch targets. I have tried adding the launch targets manually with no success.
The binaries built with the extension work fine w

[2021-07-25 14:02] MiguelGuthridge commented on #198
It turns out that by adding them manually, it worked properly.

[2021-07-26 07:02] andreeis commented on #198
@MiguelGuthridge, thank you for creating this report. I am glad that you found how to manually specify launch targets in your .vscode/settings.json.
I am interested in analyzing your repro closer so that I understand why the extension did not detect any of the launch targets. It can be a bug (which we'd like to fix) or a limitation (if your build does not print any link commands for us to detect a

[2021-08-02 05:44] clock999 opened #199 "How to debug"
Hello,

It's great to have this tool to work with vscode. Now I have been able to build and run a makefile project with the tool. And I am trying to use vscode-makefile-tools to debug a c/c++ program. Is there any document to show how to proceed? For example, how to set a breakpoint, how to step in, how to watch values and so on.
Thanks a lot!

[2021-08-03 20:10] jureid commented on #199
Hi @clock999,

I'm happy to hear that you're able to build and run your project using the Makefile Tools extension! Here are some resources for debugging with Makefile Tools in VS Code:

- Quick video tutorial for configuring, building, and debugging a Makefile project with Makefile Tools (the run/debug portion starts at 9:25): https://www.youtube.com/watch?v=cEC2iZCS2Lk
- Document outlining gener

[2021-08-05 08:06] hitman-codehq commented on #194
Hi @andreeis I have been away on holiday but now I am back it is time to continue with this issue.  :-)

I am not really sure how to approach this problem as it is quite complicated.  It seems that on MacOS, everything is working almost perfectly, even with the "..." problem mentioned above.  It is only on Windows that it seems to not work.  Unless the problem has been fixed since I reported it?

[2021-08-06 08:02] kmbgit commented on #178
Maybe this isn't a "makefile" problem at all, but one to do with the problem tracker.  In any reasonably-sized system with a compilation phase that converts source code into some sort of executable, you're going to have source files in different directories with each directory having its own "build" process that creates the executable module (think of a C or C++ project where each directory produc

[2021-08-13 10:14] hitman-codehq commented on #194
I did some more research and found some interesting results.  With my "special" cross-compiler setup, the makefile plugin works **perfectly** on MacOS, but with the same setup, does not work on Windows!  It cannot find system headers and (sometimes) local headers.  I suspect it might be a forward slash (/) -vs- backslash (\) issue.  When I compile manually with -v to get the list of system headers

[2021-08-13 18:53] jjrsylvestre opened #201 "Add command to combine "Set the target to be built by make" and "Build the current target" into one"
It would be nice if `Makefile: Set the target to be built by make` and `Makefile: Build the current target` were available as one command that opens the quick-picker of target names and then immediately builds the selected target. Maybe  `Makefile: Set and build a target`.

[2021-08-14 14:03] hitman-codehq commented on #194
By the way, I forgot to say that the originally reported problem about the "..." causing issues turned out to be incorrect, so we can ignore that.  The long description that I put in the last comment is the most up to date information now.

[2021-08-18 09:17] Edouard59 opened #202 "how to debug a program started by another program"
Hello,

I have a program (say app2) which is built using makefiles in VS code with the extension. Once the program is built, this app2 should not be run directly, but another program (say app1) is in charge of starting it. So I have created the following configuration, which starts app1 providing the path on the command line where app2 is located as this is how app1 expects it to be:
`
"makefile.l

[2021-08-20 14:34] prsullivan opened #203 "makefile tools not sending config for files after finding build command"
I am trying to use the makefile tools extension as a configuration provider for a makefile project generated by eclipse cdt based environment.

I can see in the extension log that compiler commands are found for my source files but configuration is not sent to cpptools for any source files other than main. It also appears include paths from the command line are also not parsed or added to the conf

[2021-08-20 16:41] bobbrow commented on #201
Thank you for the suggestion. We'll put it on the backlog.

[2021-08-20 16:45] bobbrow commented on #202
@WardenGnaw Do we have a guide for setting up child process debugging in VS Code?  It looks like this is linux and I'm assuming gdb.

@Edouard59, without child process debugging, you would need to set up an "attach" configuration in `launch.json` that would attach to app2 after it has launched.

[2021-08-20 18:17] WardenGnaw commented on #202
In the `launch.json`, you can add to your configuration:
[code]

See [Forks](https://sourceware.org/gdb/onlinedocs/gdb/Forks.html#:~:text=By%20default%2C%20when%20a%20program,set%20follow%2Dfork%2Dmode%20.&text=Set%20the%20debugger%20response%20to%20a%20program%20call%20of%20fork%20or%20vfork%20.) for how you can configure fork/exec modes.

[2021-08-20 20:13] bobbrow commented on #203
Thanks for the info.  I am able to reproduce the problem and figured out one of the issues.  I'll send a PR for it, but there is still more to investigate and my engineer who works on this is on leave for another 2 weeks.

[2021-08-22 09:34] robaol opened #205 "Use of "configure" is/maybe misleading"
The extension and its documentation use the terms "Configure" and "Configuration" a lot.

This is really confusing/misleading when dealing with makefiles and autotools where ./configure has a very specific and significant meaning.

The actions menu contains
Pre-Configure
Configure
Clean Configure
Build clean
What are these going to do?
Maybe using the word "make" with the target, e.g. "make clean"

[2021-08-23 08:46] Edouard59 commented on #202
@bobbrow Yes, this is linux and gdb. It supports child process debugging, and what @WardenGnaw suggested works ! :) I then need to use the vs code "run and debug" panel and I guess cannot use the "debug" or "run in terminal" buttons at the top of the makefile extension panel then but this is no big deal...

@WardenGnaw Thanks for the tip, this makes it work. But when I click on the "stop" button f

[2021-08-23 10:57] Edouard59 commented on #202
@WardenGnaw I don't know if it is the clean way of doing it but I managed to kill the app after debugging by adding a "postDebugTask" which runs a pkill command

I'm just not quite sure what this makefile extension brings in the end, as I am not using it for debugging, I have a prelaunch task which calls "make all" to build before debug... So I'm not really using much from this extension, am I ? M

[2021-08-23 16:02] bobbrow commented on #205
The extension does not attempt to run `./configure` scripts for you unless you tell us to in the settings.  The "configure" we are referring to is configuring IntelliSense.  To do this we need the compilation commands for every source file in the project, so we do a "dry run" of your makefile to generate logs which we then parse for compilation information.

[2021-08-27 14:17] robaol opened #206 "makefile.launchConfigurations duplicates launch.json?"
I was using the vscode builtin debugger before I installed the makefile-tools extension and so I had followed the guidance and defined launch/debug definitions in launch.json, which I recall vscode pre-populated for me to some extent.

It would seem to make sense for makefile tool to share/use the same mechanism and files for its launch target? Rather than defining an apparent duplicate ? Or maybe

[2021-08-27 14:52] robaol opened #207 "The table at docs/repositories.md is not very readable on the web"
The table is very tall and wide but the only (horizontal) scroll bar is right at the bottom of the table, at which point the row you are interested in is probably no longer visible, nor are the column headings.

This is possibly/probably? a github issue not a repo one, but is it possible make the page more readable? Maybe by adding scrollbars within the doc frame and freezing the top row and first

[2021-08-28 07:28] robaol commented on #206
Fair enough. (Note that it appears that the main debugger uses launch.json, not tasks.json, if that makes any difference.

[2021-08-30 18:29] bobbrow commented on #206
Haha, sorry, I misspoke.  I substitute `tasks` for `launch` all the time for some reason.

[2021-08-30 18:29] #206 closed

[2021-08-31 17:13] robaol commented on #205
@bobbrow Thanks, I will try it out. I am able to make the project ok but dont know how to collect the output - I plan to examine the extension's dry run flags as a start. I'll let you know how I get on.

[2021-09-01 11:46] kmbgit opened #208 "Feature Request: Intellisense handling for makefile targets"
If I have a makefile like

    main: sub1 sub2 sub3
        mangle sub1,sub2,sub2 into main

    sub1: this
        generate sub1 from this

    sub2: that
        generate sub2 from that

    sub3: other
        generate sub3 from other

then I'd like to be able to control-click (Windows) on "sub1" in the dependency list for "main" and jump to the "sub1: target" line, and similarly for other depe

[2021-09-01 16:11] bobbrow commented on #208
Thank you for the feature idea.  Adding language services for makefile isn't something we were planning to do due to the sheer scope of the feature, but it's possible we could consider something more targeted like this.  We would also accept a PR from the community if someone was interested in tackling this.

[2021-09-02 06:52] ArashAhmadian opened #209 "No launch configurations detected after manual addition"
Hello,

I  cannot configure any launch options even after I manually enter them under settings.json for my project. The `MakeFile` used for the project is a wrapper around `cmake` so it is a bit unusual however I am not sure how why the extension doesn't detect any launch configurations. The configurations and build targets get detected properly, although targets that are handled by `cmake` are no

[2021-09-02 16:14] bobbrow commented on #209
It seems to me like you'd have better results using the CMake Tools extension than the Makefile Tools extension for this project.  The extension depends on the logging style of Makefile, but your project is really a CMake project driven by a Makefile.  If you don't mind, we can transfer this issue over to the CMake Tools repo and discuss how we might configure that extension to work for your proje

[2021-09-02 16:55] ArashAhmadian commented on #209
Thanks for the reply @bobbrow . Yes, it would be great if you could transfer the issue.

[2021-09-16 17:26] Lullabi opened #210 "Help with starting debugging"
Hello. I am a CS student and have recently been trying to get this extension to work to better support debugging as I use a lot of makefile projects. However, I've had a lot of issues trying to start debugging. I've set up the tool and when I run without debugging, it works perfectly fine, but when trying to debug, it doesn't work at all.

My makefile settings.json:
`{

"remote.SSH.remotePlatform"

[2021-09-16 19:51] bobbrow commented on #210
Can you try splitting the `binaryArgs` into individual strings?  If you set it like that, I believe you will get a large quoted string (e.g. single argument) sent.

Like this:
[code]

[2021-09-17 14:16] Lullabi commented on #210
This worked for me. Thank you so much for your help

[2021-09-17 14:16] #210 closed

[2021-09-23 15:34] bobbrow commented on #210
Glad to hear that worked for you.  We hope you are enjoying the extension and if you have a chance and could [leave us a review](https://marketplace.visualstudio.com/items?itemName=ms-vscode.makefile-tools&ssr=false#review-details), it would help us out.  Thank you.

[2021-09-23 19:59] andreeis commented on #205
@robaol, if you can share your project with us (or a reduced version that manifests the problem) we can do all the investigation and answer you how to best overcome the long dryrun problem.

[2021-09-23 20:05] andreeis commented on #206
@robaol, also I want to make sure that you know of the Makefile Tools commands that are available for you if you go the launch.json route. Check out [this doc](https://github.com/microsoft/vscode-makefile-tools/blob/main/docs/makefile-settings.md).

[2021-09-23 20:06] andreeis commented on #207
Thank you @robaol for pointing that out. We will explore what we can do to improve this experience.

[2021-09-23 20:39] andreeis commented on #194
@hitman-codehq, it was now my turn to be out of office on leave :). Back now and ready to help you out.
I have a mac and I can also try your amiga compiler. But while I catch up on things, you can do something to simplify my reproducing experience. We could skip over using any compiler if you share the build log relevant for the issues you are seeing. I can hook that up via "makefile.buildLog" and

[2021-09-23 21:31] andreeis commented on #178
@kmbgit, when we will implement problem matchers support yes we will make sure to calculate the paths properly, even for projects that are CDing all around.

Besides not having that available now, the extension should still provide IntelliSense for your code base and build/debug/launch features which also correctly compute paths and look at "entering directory"/"leaving directory".

Did you try th

[2021-09-23 22:11] andreeis commented on #202
@Edouard59, putting the quick debug Makefile Tools feature aside, you can still benefit of the following:
- IntelliSense (as you say, it is indeed the major benefit)
- build without switching to your development command prompt and typing the command every time
- launch in terminal (non debug)
- even for debug, when you use launch.json, you can access Makefile Tools commands that let you not hard c

[2021-09-26 12:02] robaol commented on #206
@andreeis Thank you.
I had a look at the link you provided. I think this is saying that the Makefile Tools extension can define a number of variables which can be referenced from launch.json or tasks.json? (Noting that some of the paths are "smart" and can cause side-effects such as a rebuild as noted on the page.)
On balance, i think i will stick with the launch.json route for debugging. It was p

[2021-09-26 12:48] robaol commented on #205
@andreeis thank you for following up on this.

I am building [Hamlib](https://github.com/robaol/Hamlib), which is a computer control interface abstraction library for radios.

There are some install pre-req [packages](https://github.com/robaol/Hamlib/blob/71fc5534b74d9a66777269e7dad6acb6b3b2f5b2/README.developer#L231) (I expect you have the tooling ones). I had to install the following on raspberr

[2021-09-26 15:05] robaol commented on #205
Any more thoughts about making the extension commands more explicit in saying that it is intellisense that is being configured or, that a make file target is going to be run?
Unfortunately, "configure" and "configuration" are massively over-loaded terms in software. I think a bit of disambiguation would be an improvement...

Regards
Rob

[2021-09-28 15:28] TryerGit opened #211 "Unable to navigate make's errors/warnings in the PROBLEMS window"
So far, I have used `make` (on a linux machine) via `tasks.json` in a "raw" fashion and without any extension thus:

        "tasks": [
            {
                "label": "dbgbuild",
                "type": "shell",
                "command": "make",
                "args": [
                    "CONF=Debug",
                    "-C",
                    "./.vscode"
                ],

[2021-09-28 17:10] TryerGit opened #212 "Please make relationship between makefile.launchConfigurations and makefile.configurations clearer"
At present, there seems to be no way (at least to someone who is testing out this extension for the first time) to pair a debug launch configuration with a debug build and a release launch configuration with a release build. Prior to coming across this extension, I used to be able to specify in `launch.json` the specific preLaunchTask that was needed to be completed before the particular launch.

[2021-09-28 17:25] DoubleLT opened #213 "Unable to open 'futex-internal.h' while debuging"
Hi, thanks to this makefile-tools, my project runs well for release version.

When I try to debug the program, the following error message shows:
[code]

I have tried to install glibc-source, however, it seems no effect.

Any idea is welcome and thanks in advance.

[2021-09-28 17:45] bobbrow commented on #213
Are you seeing this when you press the "pause" button, or when a breakpoint is hit?  I believe this is a known issue with debugging and is outside of this extension.  See: https://github.com/microsoft/vscode-cpptools/issues/2762
It is safe to ignore these messages. You should be able to switch to different frames in the call stack and get to the code you want.

We're glad to hear everything else i

[2021-09-28 17:47] bobbrow commented on #213
As regards the URI in that message, that might be something to ask in [a new issue for the cpptools extension](https://github.com/microsoft/vscode-cpptools/issues/new/choose).  I'm not sure how they would do the source file mapping with that type of URI.  Do you have the sources for glibc on that remote machine?

[2021-09-28 22:51] andreeis commented on #206
@robaol, sounds good. Whenever you see you end up duplicating project specific information in your launch/tasks json (like target name) or when it changes often depending on what flavor of your project you currently build (like a specific subdirectory of the build directory) that will be the time to check that document again and you will see that these variables can be very useful.

[2021-09-28 23:23] andreeis commented on #205
@robaol, I agree about the terminology, thank you for making the good points. We will discuss over here.

It's great that you were able to share your project. I will have a look. We are focusing on a different project this week and I may not be able to try your repro but there is something you can do to help us answer faster.

Write down the sequence of commands that you normally run in your devel

[2021-09-29 00:08] andreeis commented on #211
@TryerGit, problem matcher support is scheduled for the next release (2-3 months out).
But you can use the tasks.json as you wrote it until then, in parallel with the rest of the features that are available in the extension (except the build command). Let us know if there is something not working with Makefile Tools and your tasks.json.

Closing as a duplicate of https://github.com/microsoft/vscod

[2021-09-29 00:08] #211 closed

[2021-09-29 04:02] wjliuplusplus commented on #213
Many thanks and I'll keep tracking the URL.

[2021-09-29 09:44] mz8i commented on #115
@andreeis I can confirm that this causes an annoyance - I am working on a monorepo where Make is responsible for just a small part of the project. I usually open the terminal right after opening VSCode, and having the terminal hijacked by Make output that is not relevant to my work 99% of the times, is annoying enough that it made me post here ;)

Introducing a switch would be desirable, but in fa

[2021-09-29 10:24] TryerGit opened #214 "Using the extension as configuration provider does not work"
Hello,

I would really like this extension to succeed because currently I have to go through many hacks to get what I want including playing around with `launch.json` and `tasks.json` amongst others. I am encountering many issues with this extension as of now. In due course, I will make separate posts on these so that developers here can understand the issues that a user may face.

My current issu

[2021-09-29 16:34] andreeis commented on #212
@TryerGit, thank you for the idea. Once we implement [this feature](https://github.com/microsoft/vscode-makefile-tools/issues/25), you may achieve this by using variables that would be expanded to debug or release.
Also, maybe we can define the relationship in a more direct way... We will think, so I am keeping this issue opened.

In the meantime, let me explain how launchConfigurations work now.

[2021-09-29 16:39] andreeis commented on #214
@TryerGit, thank you for the project, that will be very helpful. We will have a look at it in the beginning of next week, since we are preparing a new release of another project.
Everything is squiggling, indicating that nothing works with IntelliSense or only some instances of things?
If you set "makefile.loggingLevel" to "Debug" and "makefile.extensionLog" to "extension.log" in your .vscode/sett

[2021-09-29 17:36] andreeis commented on #115
@mz8i and @COOLIRON2311, then it's time to add a setting. I thought, while we brainstormed with other users of this extension, that our new approach with showing the output window less was enough and a new setting was not needed.
I am reactivating this report and we will add the setting. Thank you for your feedback.

[2021-09-30 01:16] dragonmux opened #215 "Extension causes high cpu load"
[ms-vscode.makefile-tools-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-makefile-tools/files/7255857/ms-vscode.makefile-tools-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `makefile-tools`
- Extension Version: `0.2.2`
- OS Version: `Linux x64 5.14.8-arch1-1`
- VS Code version: `1.60.2`

Find more details here: https://github.com/microsoft/vscode/wiki

[2021-09-30 07:31] IoriBranford commented on #123
Great for specifying a temporary PATH instead of messing with the system PATH.

[2021-09-30 08:28] andreeis commented on #215
@DX-MON, can you set "makefile.loggingLevel" to "Debug" and "makefile.extensionLog" to "extension.log" in your .vscode/settings.json and share with us the files .vscode/extension.log and .vscode/dryrun.log? It's very common for such situations to have a project for which the command "make --dry-run --always-make" calls scripts like configure infinitely.

You can get unblocked by producing manually

[2021-09-30 18:39] DX-MON commented on #215
We'll switch those flags for the Makefile plugin in a little bit and see what that does.

As for the other part, this is happening when we start VSCode - the project is already configured (via the command line) + built and we're doing nothing special to cause this other than simply opening VSCode - this is what the plugin is choosing to do as its first steps on this project (before we even get to

[2021-09-30 20:53] tyler274 opened #216 "Error running on Remote Host"
Getting this error trying to run on an Ubuntu Stable 20.4 remote host. "-g" is on for every compiler invocation.
0.2.2 extension version
1.60.2 VSCode version
[code]

[2021-09-30 21:41] andreeis commented on #215
@DX-MON, even if your project is already configured and built in the command line, the extension still needs to read some "make" output and parse useful things that enable the features to work. That is why the first thing the extension does after a project is loaded in VSCode is run "make --dry-run" and a few other switches to produce this output.

--dry-run would normally not execute anything in

[2021-09-30 23:15] andreeis commented on #216
@tyler274, thank you for opening this report.
This could be a duplicate of https://github.com/microsoft/vscode-makefile-tools/issues/213, which is very likely to be a bug in the CppTools extension, and not Makefile Tools.

@WardenGnaw, can you confirm if this issue and 213 are related to https://github.com/microsoft/vscode-cpptools/issues/2762?

[2021-09-30 23:17] WardenGnaw commented on #216
Yes. Unless you have the glibc source for `raise.c`, it prompts this message indicating you are trying to stop in a frame where there is no matching source code.

[2021-09-30 23:22] bobbrow commented on #216
@WardenGnaw Supposing the developer has the glibc source and the URI looks like the one above (`vscode-remote://`).  Would cpptools be able to load it?

[2021-10-01 00:00] WardenGnaw commented on #216
If they had exactly `/build/glibc-ZN95T4/glibc-2.31/sysdeps/unix/sysv/linux/raise.c` on the machine, yes. IIRC VS Code converts `vscode-remote://ssh-remote+HOSTNAME/` when we give them a file path with that prefix.

[2021-10-02 01:25] psbanga opened #217 "Multiple makefilePath & directories"
I have multiple repositories, and in same repository, multiple build targets as well
How do i specify multiple makefile.makefilePath & makefile.makeDirectory
these should be atleast repository/project specific & not global, tied to user vscode settings.json
It should be in .vscode of the specific project or repository

[2021-10-04 02:04] rustedwizard opened #218 "Warning during debug: 'set target-async' deprecated"
First, sorry if this is due to me missed some configuration or doing something wrong. I am setup a make file project on windows with following configuration:

VSCode version: 1.60.2
Makefile Tools version: v0.2.2
GCC : Mingw-w64 9.0
          gcc -v gives following output:
[code]

When I debug a program I noticed at debug console, follwoing message appears:

![Capture](https://user-images.githubus

[2021-10-04 10:12] andreeis commented on #217
Try a wrapper makefile in a new folder (maybe one level up from all the projects, containing them all) that would point to all the makefiles of your distinct repositories like this:

$(MAKE) -C ./path/to/repo1
$(MAKE) -C ./path/to/repo2
...

Then load in VSCode the folder of this wrapping makefile.

This wrapping scenario is usually tricky.
If you encounter issues, set "makefile.loggingLevel" to "

[2021-10-05 04:04] rustedwizard commented on #95
upvote this one, hope it will work with nmake

[2021-10-05 19:39] lab313ru opened #219 "command-line error: language modes specified are incompatibleC/C++(1027)"
My project has the following settings:
[code]

After every reopening of the project this problem happens and doesn't allow to build anything. The only solution is to disable then enable the extension. After that everything does work. But after you'll close VScode the problem will appear again.

[2021-10-05 21:20] andreeis commented on #219
@lab313ru, thank you for creating this issue.
Can you set "makefile.loggingLevel" to "Debug" and "makefile.extensionLog" to "extension.log" in your project .vscode/settings.json, reload your project in VSCode, let it finish configuring (you should see something like "configure finished" in the Makefile Tools output channel), then share with us the files .vscode/dryrun.log and .vscode/extension.log

[2021-10-05 23:04] lab313ru commented on #219
[dryrun.log](https://github.com/microsoft/vscode-makefile-tools/files/7289716/dryrun.log)
[extension.log](https://github.com/microsoft/vscode-makefile-tools/files/7289717/extension.log)

It's happens for `core.c` file at its first line.

What I'm doing to reproduce is:
1. Open VS Code (by default it opens the last opened, so the current, project)
2. Problem appears
3. Disable extension, then reloa

[2021-10-06 09:22] andreeis commented on #219
@lab313ru, thank you for the files. The disable/enable is a mystery for me (the squiggle should not disappear) but at least I spotted something in the logs you sent.

In what kind of environment you are opening VSCode? Is it MinGW? If yes, Is "cygpath" command working properly in that environment? What does it output for "cygpath \d\SGDK_projects\clock_tower\src\core.c -w" ?

[2021-10-06 09:31] lab313ru commented on #219
No MinGW or Cygwin paths were added to PATH. I'm just using a folder with
all executables I need and passing its path to the variable in my Makefile.

For more information I recommend you to look at the project which
executables I use: https://github.com/Stephane-D/SGDK/blob/master/makefile.gen

Here, at the top of this file I'm just setting up GDK variable to point at
the SGDK's bin/ folder. That

[2021-10-06 09:51] andreeis commented on #219
I see that this repository supports linux and mac development. Is the extension working fine on those systems?

For windows, if you open VSCode from MinGW prompt (just try as an experiment, it may unblock you) and load your project, is the extension working?

If you run from pure windows environment, I wonder why do we see paths like /d/ (instead of d:\) in dryrun.log. Why make.exe reports enterin

[2021-10-06 11:04] lab313ru commented on #219
I really don't know why it uses /d/. Maybe because WSL2 is installed? But
I don't use it during the project build.
GDK variable is set like this: GDK := d:/git/SGDK

Andreea Isac ***@***.***> 6 октября 2021 г. 12:51:30 написал:

[2021-10-06 15:59] andreeis commented on #219
Ok, it's still worth for you to try to open VSCode from a MinGW command prompt. You might get unblocked.
Or another idea, create yourself a full clean build log of your project, change by hand paths like /d/ into d:\ and point the modified log to the extension via "makefile.buildLog". This will cause the extension to parse all the useful information from the log, without invoking "make --dry-run -

[2021-10-08 16:31] andreeis commented on #194
@hitman-codehq, when IntelliSense appears to be working, it is only because CppTools is smart in finding defaults. It appears inconsistent because finding these defaults depends on many things, like what other sources are opened and other user led operations.

Once you see the message "Configuration for file [] was not found. CppTools will set a default configuration", you can be sure that Makefil

[2021-10-08 16:32] andreeis commented on #194
This could be the same as https://github.com/microsoft/vscode-makefile-tools/issues/219, I'll confirm once I see both logs.

[2021-10-11 08:07] andreeis commented on #217
Oh, in order to have the build targets detected, this log should be generated by including the following switches: --print-data-base --no-builtin-variables --no-builtin-rules --question.

[2021-10-21 05:52] hitman-codehq commented on #194
Hello again @andreeis.

I have attached a zip file that contains quite a few files.  Firstly, it contains the contents of my .vscode directory.  My c_cpp_properties.json file is a little bit complicated so perhaps something in there will be a hint for you.  It also contains the .log files generated by the makefile plugin during configuration, so perhaps there is a clue in there for you.

The outpu

[2021-10-31 04:30] ymichaelson opened #220 "Output logs to the terminal"
How can I set output logs to the terminal?
![image](https://user-images.githubusercontent.com/41182093/139567713-0038aa27-e499-4b3e-a0f9-1e73614358c5.png)

[2021-11-01 14:48] andreeis commented on #220
@ymichaelson, currently there is nothing designed in VSCode itself to achieve this. The output channel contains anything the extension logs explicitly and the terminal shows the output of any commands that the extension launches there.

What is the scenario where you need this? Is this for build? Luckily, in order to support problem matchers for our next release, we are working now on having the b

[2021-11-01 15:01] andreeis commented on #156
@olimexsmart, I am very sorry to hear that. Let's see how we can improve your experience asap.
I still have no idea how the uninstall/install of the Makefile Tools extension can have an impact here, but let's follow the usual clues to finding what is wrong either in the extension (bug) or in setting up the repository.

Is your project public (github?) and you can share it whole for us to have a lo

[2021-11-02 09:00] ymichaelson commented on #220
Yes, it just for build, because output to the terminal will look beautiful, and it will be easier to find the key output exactly.

[2021-11-02 09:06] olimexsmart commented on #156
In my case when this error shows up, every file in my project has the error.

[code]
I'm not sure if this is what you are interested in. Sadly I cannot share the project because it is an embedded proprietary code. The MCU is not even openly available to the public. I had to substitute some output with /*  */.

Just to be clear: I opened this morning the project and it was fine. To reproduce the er

[2021-11-02 09:14] olimexsmart commented on #156
But while doing these test I've discovered that after deleting the 3 auto-generated *.log files `configurationCache.log`, `dryrun.log`, `targets.log` and reloading the windows, the error is gone.

I reload the window again and the error is there again. It seems there is an error loading those cached files. In particular, it seems that just deleting `configurationCache.log` does the job.

[2021-11-02 16:43] andreeis commented on #156
@olimexsmart, from what snippets you shared, I suspect a mingw/msys/cygwin path bug that we have and which we plan to fix for our next release.
Please share those files (dryrun.log, configuratnionCache.log, no need for targets log) and also a new file we need. Set "makefile.extensionLog": ".vscode/extension.log", load your project again in the scenario that reproduces the problem (and open one c/c

[2021-11-02 17:12] olimexsmart commented on #156
I cannot share here the log files, contact me privately and I can share them directly to you.

[2021-11-03 10:58] andreeis commented on #156
@olimexsmart, yes I will.
One more question in the meantime. I didn't play with cygwin but with mingw/msys2. In that case, when I open VSCode from the MSYS environment, things work but they don't when I open VSCode from regular windows environment. That is because the extension has a condition in the typescript source code that is based on pure windows versus msys/mingw/cygwin environment and whic

[2021-11-03 23:32] andreeis opened #222 "Offer list of detected makefiles to allow choosing of root makefile"
We could detect all makefiles present below the root, offer them in a list to chose one as a root makefile (or even multi-choice, to wrap more than one under one central main makefile).

[2021-11-04 21:47] hmars-t opened #224 "Debuggee TargetArchitecture not detected, assuming x86_64."
As can be seen from the title, I am trying to debug a simple C program on my MacBook Air with M1 chip using the makefile plugin. The compilation works without any problems, but when I try to debug the whole thing, the following error message appears.

ERROR: Unable to start debugging. Unexpected LLDB output from command "-exec-run". process exited with status -1 (attach failed ((os/kern) invalid a

[2021-11-04 21:51] bobbrow commented on #224
Native ARM64 debugging is not enabled for Apple Silicon chips yet.  We're tracking support here: https://github.com/microsoft/vscode-cpptools/issues/7035

[2021-11-05 16:14] TomIowaSoft commented on #212
This is exactly the information that needs to be included on the documentation web pages.  The documentation web pages only covers simple working case with no details on how it works or what to do when it does not work, which is often.

[2021-11-05 16:25] TomIowaSoft commented on #212
Only specifying the binary is of little use when the binary is .elf.  There does not appear to be any way to specify use of DBG in a launch target either.  If I launch dbg from a launch.json configuration, then Intellisense does not know the correct paths to include files.  Is there a way to make this work?

[2021-11-05 19:09] andreeis commented on #212
I am surprised that when you use launch.json you don't have IntelliSense. Something else is wrong, let's find out. Did you configure before you "F5"? A project is configured when it is loaded (unless you set "makefile.configureOnOpen" to "false") or when you manually run from the palette either of the commands "Makefile: Configure" or "Makefile: Clean Configure".

Please set "makefile.loggingLevel

[2021-11-05 20:52] TomIowaSoft commented on #212
I do have intellisense, but there are some header files that exist in multiple locations in the path and it goes to the wrong one. Which one it should use depends on the makefile target built.

I made an adjustment to the build location and now it shows a build path when I click on the Launch Target: [Unset] pencil, but selecting it does not change [Unset].

Clicking on the debug icon builds it ag

[2021-11-05 21:11] TomIowaSoft commented on #212
vscode just updated to 1.62.0 and everything is the same, except now I get a new popup message when I select the launch target.  _The "path" argument must be of type string. Received undefined_

[2021-11-06 10:57] Florin-Popescu opened #225 "Configuration for header files not found"
Hi, first of all thank you for your work with this extension. Been looking for some time to make VSCode aware of stuff in my makefiles.

My issue right now: The output window pops up for me whenever I open a .h file with the message below, even shows up again on the same file if I close it and open it again.
[code]
I understand from [this comment](https://github.com/microsoft/vscode-makefile-tools

[2021-11-08 14:06] andreeis opened #226 "How to diagnose a source file without configuration"
Currently when VSCode loads a c/c++ source file that Makefile Tools did not find an IntelliSense configuration for, we log a message in the output channel.
Replace with a diagnostic item in the problems tab.

Inspired from [comment about files without configuration](https://github.com/microsoft/vscode-makefile-tools/issues/71#issuecomment-825762548).

[2021-11-08 14:12] andreeis commented on #225
@Florin-Popescu, thank you for creating this GitHub issue. We are wrapping up the 0.3 release which will not have the output window show up when a c/c++ language source file is opened and for which Makefile Tools did not find an IntelliSense configuration. The message will still be logged in the output channel though. This is work item https://github.com/microsoft/vscode-makefile-tools/issues/115

[2021-11-08 16:29] bobbrow commented on #226
cpptools is supposed to warn about this case with a popup, though a user can also tell cpptools never to nag about it again.  Adding a problems to the problems tab or status bar for this feels like a job for cpptools, not makefile tools

[2021-11-08 19:17] andreeis commented on #156
@olimexsmart, you can send us the logs by email at makefiletools@microsoft.com.

[2021-11-09 07:06] Florin-Popescu commented on #225
Thank you, #115 is good enough for my scenario.

[2021-11-13 00:32] TomIowaSoft commented on #196
In my case Intellisense never learns of any of the macros defined via the compiler -D argument,  when building with gcc.

[2021-11-13 03:29] RapidMovies opened #228 "Debugger not working in WSL"
I was just testing out Makefile Tools on WSL (opened the folder via the "code" command of the "Remote - WSL" extension), and everything in the extension works fine, except for the debugger. I just have 4 simple files: https://github.com/RapidMovies/MakefileToolsTesting/tree/main.

So here's everything I did:
1) Set the configuration provider to Makefile Tools
2) Set the build and launch targets
![

[2021-11-13 09:37] #225 closed

[2021-11-15 11:21] andreeis opened #229 "Allow users to define their own problem matchers"
As soon as https://github.com/microsoft/vscode/issues/61497 is implemented, with a small fix we can let our users to implement their own problem matchers, without a change in the package.json of Makefile Tools and an extension release update.

[2021-11-15 13:00] andreeis commented on #212
@TomIowaSoft, several issues here.
I suspect that the MCU2 file is opened because a problem in the CppTools extension. I will follow up with the team and confirm.

Regarding launch configurations, I noticed that there is no binaryPath and binaryArgs defined in the one launchConfigurations entry. From what I see in the logs, I think you want "binaryPath" set to d:\OneDrop\sano-potentiostats-firmwar

[2021-11-15 13:53] andreeis commented on #196
@TomIowaSoft, when we will get to work on a fix for this problem we will let you know and give you a private vsix to install and confirm if you are unblocked for your specific scenario.
If your -D switch is not of the type described above at the beginning (like CFLAGS += -DSTM32_HAL_H='<stm32$(MCU_SERIES)xx_hal.h>') then let's create a new issue.

[2021-11-15 13:58] andreeis commented on #228
@RapidMovies, from what I see everything that you do is correct. I didn't get a chance to test yet this extension on WSL. It was on my to-do list for the future.
Until I get to create a WSL environment on my side, @WardenGnaw does this ring any bells?

[2021-11-15 20:47] andreeis commented on #178
@kmbgit, @mtnmbr, we are wrapping up the 0.3 release which contains support for problem matchers without the need of a workaround on your part (unless you need something different than "$gcc").

If you would like, you can install the vsix from [this link](https://github.com/microsoft/vscode-makefile-tools/actions/runs/1463984957).
- go to the Extensions panel on the left
- click "..."
- run "Insta

[2021-11-15 21:58] TomIowaSoft commented on #196
My -D switches are specified in APP_DEFINES rather than added to CFLAGS.

[2021-11-15 22:12] TomIowaSoft commented on #212
Yes, it now lets me select a launch configuration.  Thank you.
However, I can't test it at the moment until I have it compiling again after recent code changes.

[2021-11-15 22:21] TomIowaSoft commented on #212
Since the makefile launch target was not working I use using a configuration in launchJson.  How does the makefile launch configuration know about these launch parameters?

[2021-11-16 06:37] Yorkzero commented on #228
@RapidMovies, hi, bro. I'm new to GCC and Makefile, so I had a similar problem not too long ago. Maybe you could try adding the arg **_“-g”_**  to your Makefile like following, which way help me to debug target sucessfully:
[code]
BTW, I was using _remote-ssh_ to connect my ubuntu server to do all these things, so this way is probably similar to the WSL? I'm not sure. Anyway, this plugin is very h

[2021-11-16 06:49] andreeis commented on #212
This extension was designed to help when using launch.json as well, as an alternative (most often for more complicated scenarios) to using the debug target command (which only does create a temporary simple launch.json on the fly to pass to the debugger).

To avoid hard coding things in "cwd" or "program", you can use these commands that the extension will answer automatically:

${command:makefile

[2021-11-16 07:01] andreeis commented on #196
Oh ok, if that is the only difference then your scenario should be the same and we will address it with the same fix.

[2021-11-16 19:44] andreeis commented on #211
@TryerGit, building a target with Makefile Tools will have problem matchers support in the 0.3 release so you will be able to see errors/warnings in the Problems tab without a tasks.json workaround. While we wrap-up the release, you can test a vsix from [this link](https://github.com/microsoft/vscode-makefile-tools/actions/runs/1468495870) (extensions tab --> context menu of "..." in the upper rig

[2021-11-16 19:46] andreeis commented on #147
@hitman-codehq, building a target with Makefile Tools will have problem matchers support in the 0.3 release so you will be able to see errors/warnings in the Problems tab without a tasks.json workaround. While we wrap-up the release, you can test a vsix from [this link](https://github.com/microsoft/vscode-makefile-tools/actions/runs/1468495870) (extensions tab --> context menu of "..." in the uppe

[2021-11-16 19:50] andreeis commented on #178
I forgot to mention that you need to set "problemMatchers" like in the below example in order to make warnings/errors show up in the Problems tab.

Also, let us know if you need any other problem matcher than $gcc.

    "makefile.configurations": [
        {
            "name": "MyConfiguration",
            "problemMatchers": ["$gcc"],
            "makeArgs": ["any", "other", "args", "you", "want

[2021-11-16 19:53] andreeis commented on #203
@prsullivan, we fixed this in the upcoming Makefile Tools 0.3. While we wrap up the release, you can test if you want a vsix from [this link](https://github.com/microsoft/vscode-makefile-tools/actions/runs/1468495870)  (extensions tab --> context menu of "..." in the upper right corner --> install from vsix).

[2021-11-16 21:21] andreeis commented on #219
@lab313ru, please remind me, how do you open VSCode. From the "windows" button, the regular windows command prompt (cmd.exe), some other kind of terminal? I understand you don't use mingw, msys or wsl.

Without doing anything extra, the environment that you use, does it have cygpath tool on the path?

[2021-11-16 21:26] lab313ru commented on #219
I use vscode icon at my desktop, Windows.

Andreea Isac ***@***.***> 17 ноября 2021 г. 00:21:21 написал:

[2021-11-17 00:37] andreeis commented on #219
@lab313ru, I am working on fixing this and I am not ready yet but it would help if you install this vsix and let me know how it works for you. Even if the coding of the fix is still in the experimental/hacky phase, it should be functional and verifying if it works or not would help us continue on the right track.

1. Extensions panel from the left side of VSCode
2. Context menu of "..." in the upp

[2021-11-17 00:38] andreeis commented on #194
@hitman-codehq, I am working on fixing this and I am not ready yet but it would help if you install this vsix and let me know how it works for you. Even if the coding of the fix is still in the experimental/hacky phase, it should be functional and verifying if it works or not would help us continue on the right track.

1. Extensions panel from the left side of VSCode
2. Context menu of "..." in th

[2021-11-17 00:38] andreeis commented on #156
@olimexsmart, I am working on fixing this and I am not ready yet but it would help if you install this vsix and let me know how it works for you. Even if the coding of the fix is still in the experimental/hacky phase, it should be functional and verifying if it works or not would help us continue on the right track.

1. Extensions panel from the left side of VSCode
2. Context menu of "..." in the

[2021-11-17 04:19] TryerGit commented on #211
Andreeis:

At present, on Linux I only use gcc. So this is fine and I will test it in due course. On Windows, I do not use makefiles anyway. There, I have a tasks.json that calls MSBuild.exe.

[2021-11-17 08:39] hitman-codehq commented on #194
@andreeis many thanks!  I installed it and have noticed some differences.  I have a test case that I follow:

1) Delete .vscode\*.log
2) Import project
3) Ensure that symbol lookup works
4) Ensure that there are no red squiggles under #include statements
5) Restart VS Code and repeat #3 and #4

The reason for #5 is because the presence of the .log files seems to make a difference.

Results:

With

[2021-11-17 08:48] hitman-codehq commented on #147
@andreeis many thanks, I tried this as you described and it is working!  The only cross compiler I use is GCC so there is no need for any new regular expressions.

Am I correct in understanding that adding the problemMatchers line to the settings.json is only temporary until a new version of VS Code with your requested improvements is available?

Many thanks for implementing this - it will improve

[2021-11-17 08:54] hitman-codehq commented on #194
By the way, I can make you a little "hello world" program that shows the two problems I mentioned above (symbol lookup not working and include files not being found) if that would help.  You would have to install the GCC cross compiler I am using to see it of course, but it would make it much easier to debug the problem.

Let me know if you would like to have it.

[2021-11-17 10:24] lab313ru commented on #219
It looks like it works fine!

ср, 17 нояб. 2021 г. в 03:37, Andreea Isac ***@***.***>:

[2021-11-17 14:46] daniel-a-melo opened #233 ""terminal.integrated.automationShell" is not used when running Configure"
I have a `Makefile` that can only execute in UNIX-like shells (Linux, MSYS2, Cygwin, MacOS). It uses the find function.

[code]

When I run configure in Windows using MSYS2, the extension seems to be executing it in a shell where find does not work as expected (is it executing on CMD, PowerShell?)

dryrun.log
[code]

I would expect it to respect `terminal.integrated.automationShell` setting, and r

[2021-11-17 16:33] bobbrow commented on #211
Just as FYI, vscode defines a problem matcher that I believe works with MSBuild/MSVC called `$msCompile`

[2021-11-17 17:35] prsullivan commented on #203
Thank you for looking this issue! This appears to be solved in the vsix linked above.

[2021-11-17 18:29] RapidMovies commented on #228
@Yorkzero I added the -g flag to all the Makefile commands. It was still showing the same errors at first, _until_ I removed the -h argument from setting.json. That seemed to have done the trick! Now it's working semi-consistently.

@andreeis I got it to work semi-consistently, but I'm still running into some other bugs _occasionally._ For example, if I add a breakpoint to the "print1to10" functio

[2021-11-17 18:29] #228 closed

[2021-11-17 19:03] Brod8362 commented on #156
I just wanted to chip in and provide my 2¢. I'm experiencing this bug on Arch Linux. I've tried all of the steps provided here and the only thing that worked is ensuring the file is used in the active build target.

 For example, if you have `file_a.c` and it is used in the active target, no error will be reported. However, if you have `file_b.c`, and it is not used in the active target, the error

[2021-11-18 05:04] TryerGit commented on #211
Yes, I am aware of that. I have had some trouble with that on Windows as well.

See https://github.com/microsoft/vscode/issues/131611

It works on and off.

[2021-11-18 18:55] jankap commented on #233
I'm facing exactly the same issue. `find.exe` seems to have precedence of unix `find` which fails my Makefiles.

Same is true when calling `make` directly from `tasks.json` btw.

[2021-11-18 18:56] jankap commented on #101
Any updates on this? :)

[2021-11-19 04:56] loynoir opened #235 "[FeatureRequest] open file when click on `include foobar`"
### node
[code]
When click on `./foobar.mjs`, `./foobar.mjs` is opened.

### python
[code]
When click on `foobar`, `foobar.py` is opened.

### FeatureRequest: makefile
[code]
When click on `./foobar.makefile`, `./foobar.makefile` is opened.

[2021-11-21 18:39] schperplata opened #236 "`makefile.preConfigureScript` start folder"
Hello,
I've a problem telling makefile extension where to find preConfigureScript. More precisely, I've figure out experimentally, that it is relative to the file in which `makefile.preConfigureScript` setting is specified, for example:
* If defined in .vscode/settings.json:, .vscode folder is used as a root folder for relative paths.
* If defined in X.code-workspace `settings` group: ,code-worksp

[2021-11-21 18:50] schperplata opened #237 "`makePath` does not work"
On my system, `make` command is not defined - make and other compiler tools are not on PATH.
It seems like `makefile.makePath` is not properly resolved. [Similar to this issue](https://github.com/microsoft/vscode-makefile-tools/issues/236), I've experimentally discovered, that:
* If `makefile.makePath` is defined in X.code-workspace `settings` group, absolute path to the `make.exe` is a valid sett

[2021-11-22 07:31] olimexsmart commented on #156
@andreeis I'v installed from VSIX and now the version is `v0.3.0-febdbca`

I'm still experiencing the issue.

I am not really sure if it is related, but now I have `expected an expression` on several macros that previously worked properly

[2021-11-25 08:17] KrestenHelstrup commented on #120
Hi @andreeis
Any updates on this issue ?

[2021-11-27 07:17] fischerjd opened #240 "DEBUG button ignores MIMode and miDebuggerPath settings in launch.json"
I'm using vscode v1.62.3 on a Fedora 34 host w/ the KDE/Plasma spin.

I'm following along with Julia Reid's YouTube video [Makefile Support in Visual Studio Code with Julia Reid](https://youtu.be/cEC2iZCS2Lk?t=631) (except that I am not using the SSH extention), and at around the 10:30 mark she clicks on the **DEBUG** button to begin a debugging session.

When I click on the **DEBUG** button, I ge

[2021-11-30 12:31] hitman-codehq commented on #194
I had to switch back to v0.2.2 as the beta v0.3.0 just stopped working.  It couldn't find any symbols and even cleaning out the .log files didn't make it work again.  Something very strange going on here.

[2021-12-02 10:19] andreeis commented on #194
@hitman-codehq, yes help me reproduce the problem on my side: hello world program, compiler and tools install/usage instructions. I will have soon a new vsix with more bug fixes but the best is to debug on my side and offer a real fix instead of guesses.

[2021-12-03 07:23] andreeis commented on #194
@hitman-codehq, we just released 0.3.0 and we are planning a quick update (weeks away, as opposed to months away) with localization support and into which we can also include any other additional bug fixes to improve your experience.

To investigate your project, we need new logs from you after updating to 0.3.0. The dryrun is probably the same, so no need for a new one, but extension.log reflects

[2021-12-03 07:27] andreeis commented on #156
@Brod8362, you are right and that is by design. Makefile tools parses the output of a "make --dry-run your_current_target" (and few other relevant and interesting arguments) command in order to deduce all that is needed by CppTools to enable IntelliSense. When the current target is not producing a compilation of the source file that you are interested in, we have no way to get that information fro

[2021-12-03 07:30] andreeis commented on #156
@olimexsmart, we just released 0.3.0 and we are planning a quick update (weeks away if all goes well, as opposed to months away) with localization support and into which we can also include any other additional bug fixes to improve your experience.

Try again with 0.3.0 (it has more bug fixes than what the previous beta vsix had, so fingers crossed) and if the problem persists, please generate new

[2021-12-03 07:31] andreeis commented on #219
@lab313ru, great to hear that. We also release 0.3.0 today on GitHub and Microsoft Market Place. Let us know if you encounter any other issues.

[2021-12-03 07:31] #219 closed

[2021-12-03 07:34] andreeis commented on #104
@rapgenic, we released Makefile Tools 0.3.0 today which includes this feature you implemented for us. Thank you very much for your contribution. Let us know if you encounter any other issues.

If you are happy with the extension, you can leave us a review on [Market Place](https://marketplace.visualstudio.com/items?itemName=ms-vscode.makefile-tools&ssr=false#review-details).

[2021-12-03 07:34] #104 closed

[2021-12-03 07:36] andreeis commented on #219
@lab313ru, if you would like, you can also leave us a review on [Market Place](https://marketplace.visualstudio.com/items?itemName=ms-vscode.makefile-tools&ssr=false#review-details).

[2021-12-03 07:36] #118 closed

[2021-12-03 07:38] andreeis commented on #169
@pwittich, we released Makefile Tools 0.3.0 today which includes a bug fix for this problem. Let us know if you encounter any other issues.

If you would like, you can also leave us a review on [Market Place](https://marketplace.visualstudio.com/items?itemName=ms-vscode.makefile-tools&ssr=false#review-details).

[2021-12-03 07:38] #169 closed

[2021-12-03 07:39] #181 closed

[2021-12-03 07:39] #7 closed

[2021-12-03 07:40] andreeis commented on #211
@TryerGit, we released Makefile Tools 0.3.0 today which includes support for problem matchers. Let us know if you encounter any other issues.

If you would like, you can also leave us a review on [Market Place](https://marketplace.visualstudio.com/items?itemName=ms-vscode.makefile-tools&ssr=false#review-details).

[2021-12-03 07:41] andreeis commented on #178
@kmbgit, @mtnmbr, we released Makefile Tools 0.3.0 today which includes problem matcher support. Let us know if you encounter any other issues.

If you would like, you can also leave us a review on [Market Place](https://marketplace.visualstudio.com/items?itemName=ms-vscode.makefile-tools&ssr=false#review-details).

[2021-12-03 07:43] #119 closed

[2021-12-03 07:44] andreeis commented on #203
@prsullivan, we released Makefile Tools 0.3.0 today which includes a bug fix for this problem. Let us know if you encounter any other issues.

If you would like, you can also leave us a review on [Market Place](https://marketplace.visualstudio.com/items?itemName=ms-vscode.makefile-tools&ssr=false#review-details).

[2021-12-03 07:44] #203 closed

[2021-12-03 07:46] andreeis commented on #115
@mz8i, @COOLIRON2311, @dan1994, @Florin-Popescu, we released Makefile Tools 0.3.0 today which includes a bug fix for this problem. Let us know if you encounter any other issues.

If you would like, you can also leave us a review on [Market Place](https://marketplace.visualstudio.com/items?itemName=ms-vscode.makefile-tools&ssr=false#review-details).

[2021-12-03 07:46] #115 closed

[2021-12-03 07:48] heartacker opened #245 "why do you add build button to any where?"
![image](https://user-images.githubusercontent.com/1876302/144565184-5f219d85-173d-42fe-9a28-82dac8474f03.png)

![image](https://user-images.githubusercontent.com/1876302/144565233-ac9acfcc-fc4a-408e-85a1-a8fe34652114.png)

![image](https://user-images.githubusercontent.com/1876302/144565293-1c86924c-f3e7-4258-9b5c-b17e4e85de26.png)

![image](https://user-images.githubusercontent.com/1876302/14456

[2021-12-03 09:02] olimexsmart commented on #156
@andreeis Thanks for your work. I am really enjoying so far this update, especially the upgrades to the build terminal output.

Regarding this problem, it persist for me. I will send the logs files when I find the time, to your email like the last time.

[2021-12-03 18:15] hitman-codehq commented on #194
Hello @andreeis.

I have made a little hello world project that shows the problem on Windows.  It is attached as a zip file.  Included are the exact c_cpp_properties.json and settings.json files that I am using as well as a .cpp file and a makefile.

To reproduce the issue:

1) Download and install the Amiga GCC cross compiler from https://github.com/bebbo/amiga-gcc/releases/tag/y%C3%BCtosikanom%C

[2021-12-03 21:26] andreeis commented on #194
@hitman-codehq, excellent I will try this repro and let you know what I find. So, it's still happening with the official 0.3.0 release?

[2021-12-05 06:58] hitman-codehq commented on #194
@andreeis yes it is still happening with 0.3.0.  At first it seemed to be partially improved, but then it got worse and I had to go back to 0.2.2.  The whole thing is almost random, almost like it is caused by some uninitialised variable that gets random values at startup.  But only on Windows!  On MacOS everything seems to work fine.

[2021-12-06 09:15] baumra opened #246 "Makefile Tolls Icon on side bar gone with 0.3.0"
First of all, thank you for the great extension!

For me with the update to 0.3.0 the Makefile Tools icon on the side bar is gone. When I go back to 0.2.2 it is there again.
Is this intentional?

[2021-12-06 14:16] addisonElliott commented on #245
If I'm understanding OP correctly, he's questioning why the build button is present in all sorts of places in VS Code. I think it's a valid point.

Personally, I don't think the build button should be anywhere besides the Makefile tab.

[2021-12-07 00:50] andreeis commented on #245
@heartacker and @addisonElliott, that was a git merge mistake on our part that happened sometime during our latest PRs and we didn't notice. Thank you for catching this. The button will be fixed in the upcoming release, 0.4.

[2021-12-07 01:01] andreeis commented on #246
We had complaints that projects that were not Makefile based would still cause that UI and palette commands to be visible so we made sure that these are now visible only when the extension activates.
This indeed breaks the projects that don't have a makefile in the root, but use settings like "makefile.makefilePath" and "makefile.makeDirectory".
We have work item https://github.com/microsoft/vscod